<div class="accordion" id="accordion" role="tablist">
  <div class="card mb-0">
    <div class="card-header" id="headingOne" role="tab" (click)="manageCollapses(1)">
      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">Journal de Caisse</a></h5>
    </div>
    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 1,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
      <div class="card-body">
        <form [formGroup] = "repport1FormsGroup" (ngSubmit)="onRep1GenerateClicked()">
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="rep1Caisse">Caisse</label>
                <select id="rep1Caisse" name="rep1Caisse" formControlName="rep1Caisse"
                class="form-control"
                >
                  <option value="-1">Toutes les caisses</option>
                  <option *ngFor="let caisse of userAssociatedCaisse; let i = index" [value]="i">
                    {{ caisse.codeCaisse }} - {{ caisse.libeCaisse }}</option>
                </select>

            </div>

            <div class="form-group col-sm-3">
              <label for="rep1ModePaiement">Mode de Paiement</label>
                <select id="rep1ModePaiement" name="rep1ModePaiement" class="form-control"
                  formControlName="rep1ModePaiement">
                  <option value="-1">Toutes les modes</option>
                  <option *ngFor="let mode of modePayements; let i = index" [value]="i">
                    {{ mode.codeModPay }} - {{ mode.libeModPay }}</option>
                </select>

            </div>

            <div class="form-group col-sm-3">
              <label for="rep1DateDebut">Date de début</label>
              <input type="datetime-local" class="form-control" id="rep1DateDebut"
               formControlName="rep1DateDebut" placeholder="Date de Début de l'Affectation">
            </div>
            <div class="form-group col-sm-3">
              <label for="rep1DateFin">Date de Fin</label>
              <input type="datetime-local" class="form-control" id="rep1DateFin"
              formControlName="rep1DateFin" placeholder="Date de Début de l'Affectation">
            </div>

          </div>
          <button type="submit" class="btn btn-primary">Générer</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card mb-0">
    <div class="card-header" id="headingThree" role="tab" (click)="manageCollapses(2)">
      <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">Journal des imputations</a></h5>
    </div>
    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 2,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
    <div class="card-body">
      <form [formGroup]="imputGroup" (ngSubmit)="imputClicked()">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="imputCaisse">Caisse</label>
            <select id="imputCaisse" name="imputCaisse" formControlName="imputCaisse" class="form-control">
              <option value="-1">Toutes les caisses</option>
              <option *ngFor="let caisse of userAssociatedCaisse; let i = index" [value]="i">
                {{ caisse.codeCaisse }} - {{ caisse.libeCaisse }}</option>
            </select>

          </div>

          <!--div class="form-group col-sm-3">
            <label for="annulMode">Mode de Paiement</label>
            <select id="annulMode" name="annulMode" class="form-control" formControlName="annulMode">
              <option value="-1">Toutes les modes</option>
              <option *ngFor="let mode of modePayements; let i = index" [value]="i">
                {{ mode.codeModPay }} - {{ mode.libeModPay }}</option>
            </select>

          </div-->

          <div class="form-group col-sm-3">
            <label for="imputDebut">Date de début</label>
            <input type="datetime-local" class="form-control" id="imputDebut" formControlName="imputDebut">
          </div>
          <div class="form-group col-sm-3">
            <label for="imputFin">Date de Fin</label>
            <input type="datetime-local" class="form-control" id="imputFin" formControlName="imputFin">
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Générer</button>
      </form>
      </div>
    </div>
  </div>
  <div class="card mb-0">
    <div class="card-header" id="headingOne" role="tab" (click)="manageCollapses(3)">
      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">Journal des
          annulations</a></h5>
    </div>
  <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" [ngClass]="{
                collapse:true,
        show: clicked === 3,
        collapsing:false,
        animated:true,
        fadeIn:true
      }">
    <div class="card-body">
      <form [formGroup]="annulGroup" (ngSubmit)="annulClicked()">
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="annulCaisse">Caisse</label>
            <select id="annulCaisse" name="annulCaisse" formControlName="annulCaisse" class="form-control">
              <option value="-1">Toutes les caisses</option>
              <option *ngFor="let caisse of userAssociatedCaisse; let i = index" [value]="i">
                {{ caisse.codeCaisse }} - {{ caisse.libeCaisse }}</option>
            </select>

          </div>

          <div class="form-group col-sm-3">
            <label for="annulMode">Mode de Paiement</label>
            <select id="annulMode" name="annulMode" class="form-control" formControlName="annulMode">
              <option value="-1">Toutes les modes</option>
              <option *ngFor="let mode of modePayements; let i = index" [value]="i">
                {{ mode.codeModPay }} - {{ mode.libeModPay }}</option>
            </select>

          </div>

          <div class="form-group col-sm-3">
            <label for="annulDebut">Date de début</label>
            <input type="datetime-local" class="form-control" id="annulDebut" formControlName="annulDebut"
              placeholder="Date de Début de l'Affectation">
          </div>
          <div class="form-group col-sm-3">
            <label for="annulFin">Date de Fin</label>
            <input type="datetime-local" class="form-control" id="annulFin" formControlName="annulFin"
              placeholder="Date de Début de l'Affectation">
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Générer</button>
      </form>
    </div>
    </div>
  </div>
</div>

<!--Modal View PDF-->

<div bsModal #viewPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title text-center">Apperçu</h4>
        <button type="button" class="close" (click)="viewPdfModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <iframe class="col" [src]="pdfToShow" frameborder="0" style="height: 400px;"></iframe>
          </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="viewPdfModal.hide()">Fermer</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
