<tabset>
  <!--Onglet 1-->
  <tab>
    <ng-template tabHeading><i class="icon-calculator"></i> Articles</ng-template>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des Articles
      </div>
      <div class="card-body">
        <!--Les enfants s'amusent-->
        <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
          <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
          <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
        </div>
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
        [dtTrigger]="dtTrigger1" id="dataTable1">
          <thead>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Prix</th>
              <th>Couleur</th>
              <th>Famille</th>
              <th>Unité</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles; let i = index">
              <td>{{ article.codeArticle }}</td>
              <td>{{ article.libArticle }}</td>
              <td>{{ article.prixVenteArticle }}</td>
              <td>{{ article.couleurArticle }}</td>
              <td>{{ article.famille.libFamille }}</td>
              <td>{{ article.unite.libUniter }}</td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditArticle(i)"><span class="fa fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteArticle(i)"><span class="fa fa-trash"></span></button>
                <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosArticle(i)"><span class="fa fa-eye"></span></button>
                <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                <!--Le bouton des options-->
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else
                      here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Prix</th>
              <th>Couleur</th>
              <th>Famille</th>
              <th>Unité</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>

        <!-- Les modales-->
              <!--Modale 1-->
              <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-primary" role="document">
                  <form [formGroup]="addArticleFormsGroup" (ngSubmit)="onSubmitAddArtiFormsGroup()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Enrégistrer un Article</h4>
                        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour enrégistrer un article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Nouveau Article</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <label for="addCodeArticle">Code</label>
                                <input type="text" class="form-control" id="addCodeArticle" placeholder="Code de l'article"
                                  formControlName="addCodeArticle">
                              </div>
                              <div class="form-group col-sm-9">
                                <label for="addLibArticle">Libellé</label>
                                <input type="text" class="form-control" id="addLibArticle" placeholder="Entrer le libellé de l'article"
                                  formControlName="addLibArticle">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="addPrixVenteArticle">Prix de vente (en Francs CFA)</label>
                                <input type="number" class="form-control" id="addPrixVenteArticle" placeholder="Prix de l'article"
                                  formControlName="addPrixVenteArticle">
                              </div>
                              <div class="form-group col-sm-6">
                                <label for="addCouleurArticle">Couleur</label>
                                <input type="text" class="form-control" id="addCouleurArticle" placeholder="Couleur de l'article"
                                  formControlName="addCouleurArticle">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="addFamille">Famille</label>
                                  <select id="addFamille" name="addFamille" class="form-control"
                                  formControlName = "addFamille">
                                    <option *ngFor="let famille of familles; let i = index"
                                    [value]="i">{{ famille.codeFamille }} - {{ famille.libFamille }}</option>

                                  </select>

                              </div>
                              <div class="form-group col-sm-6">
                                <label for="addUniter">Unité</label>
                                  <select id="addUniter" name="addUniter" class="form-control"
                                  formControlName = "addUniter">
                                    <option *ngFor="let uniter of unites; let i = index"
                                    [value]="i">{{ uniter.codeUniter }} - {{ uniter.libUniter }}</option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                            <div class="form-group row">
                              <div class="col-md-12 col-form-label">
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="addStockerArticle"
                                    formControlName="addStockerArticle">
                                  <label class="form-check-label" for="addStockerArticle">Stockable</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="addNumSerieArticle"
                                    formControlName="addNumSerieArticle">
                                  <label class="form-check-label" for="addNumSerieArticle">Numéroté</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="addLivrableArticle"
                                    formControlName="addLivrableArticle">
                                  <label class="form-check-label" for="addLivrableArticle">Livrable</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="addConsommableArticle"
                                    formControlName="addConsommableArticle">
                                  <label class="form-check-label" for="addConsommableArticle">Consomable</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addArticleFormsGroup.invalid">Enrégistrer</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 1 -->

              <!--Modale 2-->
              <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-warning modal-lg" role="document">
                  <form [formGroup]="editArticleFormsGroup" (ngSubmit)="onSubmitEditArtiFormsGroup()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modifier Un Article</h4>
                        <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour modifier un article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Modifier Un Article</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <label for="editCodeArticle">Code</label>
                                <input type="text" class="form-control" id="editCodeArticle" placeholder="Code de l'article"
                                  formControlName="editCodeArticle" readonly="true" [ngModel]="editArti.codeArticle">
                              </div>
                              <div class="form-group col-sm-9">
                                <label for="editLibArticle">Libellé</label>
                                <input type="text" class="form-control" id="editLibArticle" placeholder="Entrer le libellé de l'article"
                                  formControlName="editLibArticle" [ngModel]="editArti.libArticle">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="editPrixVenteArticle">Prix de vente (en Francs CFA)</label>
                                <input type="number" class="form-control" id="editPrixVenteArticle" placeholder="Prix de l'article"
                                  formControlName="editPrixVenteArticle" [ngModel]="editArti.prixVenteArticle">
                              </div>
                              <div class="form-group col-sm-6">
                                <label for="editCouleurArticle">Couleur</label>
                                <input type="text" class="form-control" id="editCouleurArticle" placeholder="Couleur de l'article"
                                  formControlName="editCouleurArticle" [ngModel]="editArti.couleurArticle">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="editFamille">Famille</label>
                                  <select id="editFamille" name="editFamille" class="form-control" formControlName="editFamille">
                                    <option *ngFor="let famille of familles; let i = index"
                                    [value]="i">{{ famille.codeFamille }} - {{ famille.libFamille }}</option>
                                  </select>

                              </div>
                              <div class="form-group col-sm-6">
                                <label for="editUniter">Unité</label>
                                  <select id="editUniter" name="editUniter" class="form-control" formControlName="editUniter">
                                    <option *ngFor="let uniter of unites; let i = index"
                                    [value]="i">{{ uniter.codeUniter }} - {{ uniter.libUniter }}</option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                            <div class="form-group row">
                              <div class="col-md-12 col-form-label">
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="editStockerArticle"
                                    formControlName="editStockerArticle" [ngModel]="editArti.stockerArticle">
                                  <label class="form-check-label" for="editStockerArticle">Stockable</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="editNumSerieArticle"
                                    formControlName="editNumSerieArticle" [ngModel]="editArti.numSerieArticle">
                                  <label class="form-check-label" for="editNumSerieArticle">Numéroté</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="editLivrableArticle"
                                    formControlName="editLivrableArticle" [ngModel]="editArti.livrableArticle">
                                  <label class="form-check-label" for="editLivrableArticle">Livrable</label>
                                </div>
                                <div class="form-check form-check-inline mr-3">
                                  <input class="form-check-input" type="checkbox" id="editConsommableArticle"
                                    formControlName="editConsommableArticle" [ngModel]="editArti.consommableArticle">
                                  <label class="form-check-label" for="editConsommableArticle">Consomable</label>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                        <button type="submit" class="btn btn-warning">Modifier</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 2 -->

              <!--Modale 3-->
              <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suprimmer Un Article</h4>
                      <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Vous êtes sur le point de supprimer l'article <mark style="color: red;">{{ suprArti.codeArticle }}</mark></p>
                      <p>Le confirmez-vous ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="onConfirmDeleteArti()">Supprimer</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 3 -->

              <!--Modale 4-->
              <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-info modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détail Sur Article</h4>
                      <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-striped">

                        <tbody>
                          <tr>
                            <th>Code</th>
                            <td>{{ infoArti.codeArticle }}</td>
                          </tr>
                          <tr>
                            <th>Libellé</th>
                            <td>{{ infoArti.libArticle }}</td>
                          </tr>
                          <tr>
                            <th>Prix en (Francs CFA)</th>
                            <td>{{ infoArti.prixVenteArticle }}</td>
                          </tr>
                          <tr>
                            <th>Couleur</th>
                            <td>{{ infoArti.couleurArticle }}</td>
                          </tr>
                          <tr>
                            <th>Famille</th>
                            <td>{{ infoArti.famille.libFamille }}</td>
                          </tr>
                          <tr>
                            <th>Unité</th>
                            <td>{{ infoArti.unite.libUniter }}</td>
                          </tr>
                          <tr>
                            <th>Livrable</th>
                            <td *ngIf="infoArti.livrableArticle==true">OUI</td>
                            <td *ngIf="infoArti.livrableArticle==false">NON</td>
                          </tr>
                          <tr>
                            <th>Stockable</th>
                            <td *ngIf="infoArti.stockerArticle==true">OUI</td>
                            <td *ngIf="infoArti.stockerArticle==false">NON</td>
                          </tr>
                          <tr>
                            <th>Article Numéroté</th>
                            <td *ngIf="infoArti.numSerieArticle==true">OUI</td>
                            <td *ngIf="infoArti.numSerieArticle==false">NON</td>
                          </tr>
                          <tr>
                            <th>Consommable</th>
                            <td *ngIf="infoArti.consommableArticle==true">OUI</td>
                            <td *ngIf="infoArti.consommableArticle==false">NON</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 4 -->
      </div>
    </div>
  </tab>
  <!--Onglet 2-->
  <tab>
    <ng-template tabHeading><i class="icon-basket-loaded"></i> Famille</ng-template>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des Familles d'Article
      </div>
      <div class="card-body">
        <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
          <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal2.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
          <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
        </div>
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions2"
            [dtTrigger]="dtTrigger2" id="dataTable2">
          <thead>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let famille of familles; let i= index">
              <td>{{ famille.codeFamille }}</td>
              <td>{{ famille.libFamille }}</td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditFamille(i)"><span class="fa fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteFamille(i)"><span class="fa fa-trash"></span></button>
                <!--<button class="btn btn-info btn-sm" data-toggle="modal" (click)="infoModal2.show()"><span class="fa fa-eye"></span></button>-->
                <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                <!--Le bouton des options-->
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else
                      here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>

        <!-- Les modales-->
              <!--Modale 1-->
              <div bsModal #primaryModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-primary" role="document">
                  <form [formGroup]="addFamilleFormsGroup" (ngSubmit)="onSubmitAddFamilleForm()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Enrégistrer une Famille</h4>
                        <button type="button" class="close" (click)="primaryModal2.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Enrégistrer une Famille d'article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Nouvelle Famille</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addCodeFamille">Code</label>
                                <input type="text" class="form-control" id="addCodeFamille" placeholder="Code de la Famille d'article"
                                formControlName="addCodeFamille">
                              </div>

                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addLibFamille">Libellé</label>
                                <input type="texte" class="form-control" id="addLibFamille" placeholder="Libellé de la Famille d'article"
                                formControlName="addLibFamille">
                              </div>

                            </div><!--/.row-->

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="primaryModal2.hide()">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addFamilleFormsGroup.invalid">Enrégistrer</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 1 -->

              <!--Modale 2-->
              <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-warning" role="document">
                  <form [formGroup]="editFamilleFormsGroup" (ngSubmit)="onSubmitEditFamilleForm()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modifier Une Famille</h4>
                        <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Modifier une Famille d'article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Modifier Famille</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editCodeFamille">Code</label>
                                <input type="text" class="form-control" id="editCodeFamille" readonly="true"
                                formControlName="editCodeFamille" placeholder="Code de la Famille d'article"
                                [ngModel]="editFamil.codeFamille">
                              </div>

                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editLibFamille">Libellé</label>
                                <input type="texte" class="form-control" id="editLibFamille"
                                formControlName="editLibFamille" placeholder="Libellé de la Famille d'article"
                                [ngModel]="editFamil.libFamille">
                              </div>

                            </div><!--/.row-->

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Annuler</button>
                        <button type="submit" class="btn btn-warning" [disabled]="editFamilleFormsGroup.invalid">Modifier</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 2 -->

              <!--Modale 3-->
              <div bsModal #dangerModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suprimmer Une Famille</h4>
                      <button type="button" class="close" (click)="dangerModal2.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Vous êtes sur le point de supprimer la Famille d'Article <mark style="color: red;">{{ suprFamil.codeFamille }}</mark></p>
                      <p>Le confirmez-vous ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal2.hide()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="onConfirmDeleteFamille()">Supprimer</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 3 -->

              <!--Modale 4-->
              <!--<div bsModal #infoModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-info modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détail Sur Article</h4>
                      <button type="button" class="close" (click)="infoModal2.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="infoModal2.hide()">Fermer</button>

                    </div>-->
                  <!--</div> /.modal-content -->
                <!--</div> /.modal-dialog -->
              <!--</div> /.modal 4 -->

      </div>
    </div>
  </tab>
  <!--Onglet 3-->
  <tab>
    <ng-template tabHeading><i class="icon-pie-chart"></i> Unité</ng-template>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des Unités de comptage d'Article
      </div>
      <div class="card-body">
        <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
          <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal3.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
          <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
        </div>
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions3"
            [dtTrigger]="dtTrigger3" id="dataTable3">
          <thead>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let uniter of unites; let i = index">
              <td>{{ uniter.codeUniter }}</td>
              <td>{{ uniter.libUniter }}</td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditUniter(i)"><span class="fa fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteUniter(i)"><span class="fa fa-trash"></span></button>
                <!--<button class="btn btn-info btn-sm" data-toggle="modal" (click)="infoModal3.show()"><span class="fa fa-eye"></span></button>-->
                <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                <!--Le bouton des options-->
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else
                      here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Code</th>
              <th>Libellé</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>


        <!-- Les modales-->
              <!--Modale 1-->
              <div bsModal #primaryModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-primary" role="document">
                  <form [formGroup]="addUnitFormsGroup" (ngSubmit)="onSubmitAddUnitForm()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Enrégistrer une Unité</h4>
                        <button type="button" class="close" (click)="primaryModal3.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Enrégistrer une Unité de Comptage-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Nouvelle Unité de Comptage</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addCodeUnit">Code</label>
                                <input type="text" class="form-control" id="addCodeUnit" placeholder="Code de l'unité"
                                formControlName="addCodeUnit">
                              </div>

                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addLibUnit">Libellé</label>
                                <input type="texte" class="form-control" id="addLibUnit" placeholder="Libellé de l'unité"
                                formControlName="addLibUnit">
                              </div>

                            </div><!--/.row-->

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="primaryModal3.hide()">Annuler</button>
                        <button type="button" class="btn btn-primary" type="submit" [disabled]="addUnitFormsGroup.invalid">Enrégistrer</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 1 -->

              <!--Modale 2-->
              <div bsModal #warningModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-warning" role="document">
                  <form [formGroup]="editUniterFormsGroup" (ngSubmit)="onSubmitEditUnitForm()">
                    <div class="modal-content" >
                      <div class="modal-header">
                        <h4 class="modal-title">Modifier Une Unité</h4>
                        <button type="button" class="close" (click)="warningModal3.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Modifier une Unité de Comptage-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Modifier Unité de Comptage</strong>

                          </div>
                          <div class="card-body">
                            <div  class="row">
                              <div class="form-group col-sm-12">
                                <label for="editCodeUnit">Code</label>
                                <input type="text" class="form-control" id="editCodeUnit"
                                placeholder="Code de l'unité" formControlName="editCodeUnit"
                                [ngModel]="editUnit.codeUniter" readonly="true">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editLibUnit">Libellé</label>
                                <input type="texte" class="form-control" id="editLibUnit"
                                placeholder="Libellé de l'unité" formControlName="editLibUnit"
                                [ngModel]="editUnit.libUniter">
                              </div>
                            </div><!--/.row-->
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="warningModal3.hide()">Annuler</button>
                        <button type="submit" class="btn btn-warning" [disabled]="editUniterFormsGroup.invalid">Modifier</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 2 -->

              <!--Modale 3-->
              <div bsModal #dangerModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suprimmer Une Unité de Comptage</h4>
                      <button type="button" class="close" (click)="dangerModal3.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Vous êtes sur le point de supprimer l'unité de Comptage d'Article <mark style="color: red;">{{ suprUnit.codeUniter }}</mark></p>
                      <p>Le confirmez-vous ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal3.hide()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="onConfirmDeleteUnit()">Supprimer</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 3 -->

              <!--Modale 4
              <div bsModal #infoModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-info modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détail Sur Article</h4>
                      <button type="button" class="close" (click)="infoModal3.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="infoModal3.hide()">Fermer</button>

                    </div>
                  </div>/.modal-content -->
                <!--</div>< /.modal-dialog -->
              <!--</div> /.modal 4 -->

      </div>
    </div>
  </tab>
</tabset>
