<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Locataires
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Identité / Nom & Prénoms</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let locataire of locataires; let i = index">
          <td>{{ locataire.idLocataire }}</td>
          <td>{{ locataire.identiteLocataire }}</td>
          <td>{{ locataire.telLocataire }}</td>
          <td>{{ locataire.adresseLocataire }}</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditLocataire(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteLocataire(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosLocataire(i)"><span class="fa fa-eye"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Identité / Nom & Prénoms</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>

    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <form [formGroup]="addLocataireFormsGroup" (ngSubmit)="onSubmitAddLocataiFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Locataire</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un Locataire-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouveau Locataire</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addIfuLocataire">Numéro IFU</label>
                            <input type="text" class="form-control" id="addIfuLocataire"
                            autocomplete="off" formControlName="addIfuLocataire" placeholder="Numéro IFU du Locataire">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addTelLocataire">Téléphone</label>
                            <input type="tel" class="form-control" id="addTelLocataire"
                            autocomplete="off" formControlName="addTelLocataire" placeholder="Téléphone du Locataire">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addIdentiteLocataire">Identité / Nom & Prénoms</label>
                            <input type="text" class="form-control" id="addIdentiteLocataire"
                            autocomplete="off" formControlName="addIdentiteLocataire" placeholder="Identité du Locataire">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addAdresseLocataire">Adresse</label>
                            <textarea id="addAdresseLocataire" name="addAdresseLocataire" rows="2" class="form-control"
                            formControlName="addAdresseLocataire" placeholder="Adresse du Locataire..."></textarea>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addPersonneAContacter">Personne à Contacter</label>
                            <textarea id="addPersonneAContacter" name="addPersonneAContacter" rows="2" class="form-control"
                            formControlName="addPersonneAContacter" placeholder="Personne à Contacter en cas de quoi concernant le Locataire..."></textarea>
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addLocataireFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning modal-lg" role="document">
              <form [formGroup]="editLocataireFormsGroup" (ngSubmit)="onSubmitEditLocataiFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Locataire</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un Locataire-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier Locataire</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="editIfuLocataire">Numéro IFU</label>
                            <input type="text" class="form-control" id="editIfuLocataire"
                            autocomplete="off" formControlName="editIfuLocataire" [ngModel]="editLocatai.ifuLocataire" placeholder="Numéro IFU du Locataire">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editTelLocataire">Téléphone</label>
                            <input type="tel" class="form-control" id="editTelLocataire"
                            autocomplete="off" formControlName="editTelLocataire" [ngModel]="editLocatai.telLocataire" placeholder="Téléphone du Locataire">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editIdentiteLocataire">Identité / Nom & Prénoms</label>
                            <input type="text" class="form-control" id="editIdentiteLocataire"
                            autocomplete="off" formControlName="editIdentiteLocataire" [ngModel]="editLocatai.identiteLocataire" placeholder="Identité du Locataire">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editAdresseLocataire">Adresse</label>
                            <textarea id="editAdresseLocataire" name="editAdresseLocataire" rows="2" class="form-control"
                            formControlName="editAdresseLocataire" [ngModel]="editLocatai.adresseLocataire" placeholder="Adresse du Locataire..."></textarea>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editPersonneAContacter">Personne à Contacter</label>
                            <textarea id="editPersonneAContacter" name="editPersonneAContacter" rows="2" class="form-control"
                            formControlName="editPersonneAContacter" [ngModel]="editLocatai.personneAContacter" placeholder="Personne à Contacter en cas de quoi concernant le Locataire..."></textarea>
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editLocataireFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Locataire</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer le Locataire <mark style="color: red;">{{ suprLocatai.idLocataire }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteLocatai()">Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Locataire</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>{{ infosLocatai.idLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Identité / Nom & Prénoms</th>
                        <td>{{ infosLocatai.identiteLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Téléphone</th>
                        <td>{{ infosLocatai.telLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Adresse</th>
                        <td>{{ infosLocatai.adresseLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Numéro IFU</th>
                        <td>{{ infosLocatai.ifuLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Personne à Contacter</th>
                        <td>{{ infosLocatai.personneAContacter }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
