<div class="card">
  <div class="card-header">
      <i class="fa fa-align-justify"></i> Listes des Demandes d'Approvisionnement
  </div>
  <div class="card-body">
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="addComModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>

      <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
      [dtTrigger]="dtTrigger1" id="dataTable1">
          <thead>
              <tr>
                  <th>Numéro</th>
                  <th>Date</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let demAppro of demandeAppros; let i = index">
                  <td>{{ demAppro.numDA }}</td>
                  <td>{{ demAppro.dateDA | date:"dd-MM-yyyy" }}</td>
                  <td>
                      <button class="btn btn-warning btn-sm"  data-toggle="modal" (click)="initEditCommande(i)"><span class="fa fa-edit"></span></button>
                      <button class="btn btn-danger btn-sm"  data-toggle="modal" (click)="initDeleteCommande(i)"><span class="fa fa-trash"></span></button>
                      <button class="btn btn-info btn-sm" data-toggle="modal" ><span class="fa fa-eye"></span></button>
                      <button class="btn btn-dark btn-sm" (click)="initPrintPdfOfAnDemAppro(i)"><span class="fa fa-file-o"></span></button>
                      <!--Le bouton des options-->
                      <div class="btn-group" dropdown>
                        <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                          <li role="menuitem"><a class="dropdown-item" >Another action</a>
                          </li>
                          <li role="menuitem"><a class="dropdown-item" >Something else
                            here</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                          </li>
                        </ul>
                      </div>
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th>Numéro</th>
                  <th>Date</th>
                  <th>Actions</th>
              </tr>
          </tfoot>
      </table>

  <!--Modal add-->
      <div bsModal #addComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-primary modal-xl" role="document">
            <form [formGroup]="addDemandeApproFormGroup" (ngSubmit)="onSubmitAddCommandeFormsGroup()">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter une Demande d'Approvisionnement</h4>
                    <button type="button" class="close" (click)="addComModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-4" style="display: none;">
                      <label for="addNumDA">Numéro</label>
                      <input type="text" class="form-control" id="addNumDA"
                        autocomplete="off" formControlName="addNumDA" placeholder="Numéro de la Demande">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addDateDA">Date</label>
                      <input type="date" class="form-control" id="addDateDA"
                       formControlName="addDateDA">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addExoSlected">Exercice</label>
                      <input type="text" class="form-control" id="addExoSlected" readonly
                      [ngModel]="serviceExercice.exoSelectionner.codeExercice.concat(' - '.concat(serviceExercice.exoSelectionner.libExercice.valueOf()))" placeholder="Délais en jour"
                       [ngModelOptions]="{standalone: true}">
                    </div>

                  </div><!--/.row-->

                  <div class="row">
                    <button type="button" data-toggle="modal" (click)="onShowAddArticleModalAddingCommande()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-striped table-lg">
                      <thead>
                        <tr>
                          <th>Code Article</th>
                          <th>Libellé de l'Article</th>
                          <th>Prix Unit.</th>
                          <th>Quantité</th>
                          <th>Montant</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let addLignDemAppro of tempAddLigneDemandeAppro; let i = index">
                          <td>{{ addLignDemAppro.article.codeArticle }}</td>
                          <td>{{ addLignDemAppro.article.libArticle }}</td>
                          <td>{{ addLignDemAppro.article.prixVenteArticle }}</td>
                          <td><input [(ngModel)]="tempAddLigneDemandeAppro[i].quantiteDemandee" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                          <td>{{ tempAddLigneDemandeAppro[i].quantiteDemandee*tempAddLigneDemandeAppro[i].article.prixVenteArticle }}</td>
                          <td>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleAddingOfComm1(i)"><span class="fa fa-trash"></span></button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addComModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addDemandeApproFormGroup.invalid || tempAddLigneDemandeAppro.length == 0">Enrégistrer</button>
                </div>
              </div><!-- /.modal-content -->
            </form>

          </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal edit-->
  <div bsModal #editComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-warning modal-xl" role="document">
        <form [formGroup]="editDemandeApproFormGroup" (ngSubmit)="onSubmitEditCommandeFormsGroup()">
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Modifer Commande</h4>
            <button type="button" class="close" (click)="editComModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="editNumDA">Numéro</label>
                    <input type="text" class="form-control" id="editNumDA"
                      autocomplete="off" formControlName="editNumDA" placeholder="Numéro de la Demande"
                      [ngModel]="editDemandeAppro.numDA">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editDateDA">Date</label>
                    <input type="date" class="form-control" id="editDateDA"
                     formControlName="editDateDA" [ngModel]="editDemandeAppro.dateDA">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editExoSlected">Exercice Sélectionné</label>
                    <input type="text" class="form-control" id="editExoSlected" readonly
                     [ngModel]="serviceExercice.exoSelectionner.codeExercice.concat(' - '.concat(serviceExercice.exoSelectionner.libExercice.valueOf()))" placeholder="Code de l'Exercice Selectionné"
                     [ngModelOptions]="{standalone: true}">
                  </div>

                </div><!--/.row-->

                <div class="row">
                  <button type="button" data-toggle="modal" (click)="onShowAddArticleModalEditingCommande()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                </div>
                <div class="row">
                  <table class="table table-bordered table-striped table-lg">
                    <thead>
                      <tr>
                        <th>Code Article</th>
                        <th>Libellé de l'Article</th>
                        <th>Prix Unit.</th>
                        <th>Quantité</th>
                        <th>Montant</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let editLignDemAppro of tempEditLigneDemandeAppro; let i = index">
                        <td>{{ editLignDemAppro.article.codeArticle }}</td>
                        <td>{{ editLignDemAppro.article.libArticle }}</td>
                        <td>{{ editLignDemAppro.article.prixVenteArticle }}</td>
                        <td><input [(ngModel)]="tempEditLigneDemandeAppro[i].quantiteDemandee" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                        <td>{{ tempEditLigneDemandeAppro[i].quantiteDemandee*tempEditLigneDemandeAppro[i].article.prixVenteArticle }}</td>
                        <td>
                          <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleEditingOfComm1(i)"><span class="fa fa-trash"></span></button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="editComModal.hide()">Annuler</button>
            <button type="submit" class="btn btn-warning" [disabled]="tempEditLigneDemandeAppro.length == 0 || editDemandeApproFormGroup.invalid">Modifier</button>
            </div>
          </div><!-- /.modal-content -->
        </form>

      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal delete-->

  <div bsModal #deleteComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title text-center">Supprimer une commande</h4>
          <button type="button" class="close" (click)="deleteComModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <p>Vous êtes sur le point de supprimer la Demande d'Appprovisionnement <mark style="color: red;">{{ suprDemandeAppro.numDA }}</mark></p>
            <p>Le confirmez-vous ?</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteComModal.hide()">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="onConfirmDeleteCommande()">Supprimer</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal de selection d'Article pour ajout de Demande d'Appro-->
  <div bsModal #addArticle1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionner les articles</h4>
          <button type="button" class="close" (click)="addArticle1.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="card" style="margin: 0;">
              <div class="card-body">
                <table class="table table-striped" id="dataTable2" datatable [dtOptions]="dtOptions2"
                 [dtTrigger]="dtTrigger2">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Libellé</th>
                      <th>Prix unitaire</th>
                      <th>Choix?</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let articl of articles; let i = index">
                      <td>{{ articl.codeArticle }}</td>
                      <td>{{ articl.libArticle }}</td>
                      <td>{{ articl.prixVenteArticle }}</td>
                      <td>
                        <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                           (click)="addArticleForAddingOfComm1(i)"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addArticle1.hide()">Fermer</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


   <!--Modal de selection d'Article pour edition de commande-->
   <div bsModal #addArticle2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionner les articles</h4>
          <button type="button" class="close" (click)="addArticle2.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="card" style="margin: 0;">
              <div class="card-body">
                <table class="table table-striped" id="dataTable3" datatable [dtOptions]="dtOptions3"
                 [dtTrigger]="dtTrigger3">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Libellé</th>
                      <th>Prix unitaire</th>
                      <th>Choix?</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let articl of articles; let i = index">
                      <td>{{ articl.codeArticle }}</td>
                      <td>{{ articl.libArticle }}</td>
                      <td>{{ articl.prixVenteArticle }}</td>
                      <td>
                        <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                          (click)="addArticleForEditingOfComm1(i)"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addArticle2.hide()">Fermer</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!--Modal View PDF-->

  <div bsModal #viewPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title text-center">Apperçu</h4>
          <button type="button" class="close" (click)="viewPdfModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <iframe class="col" [src]='pdfToShow' frameborder="0" style="height: 400px;"></iframe>
            </div>

          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="viewPdfModal.hide()">Fermer</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  </div>
</div>
