<div class="app-body" style="margin-top: 6%;">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body" style="padding-top: 0px;">
                  <!--<h4 class="text-center" style="color: green;">PERFORA-GPC</h4>-->
                  <img src="../assets/img/gpc/logoPerforaGPC.png" alt="Perfora GPC Logo" style="max-width: 100%; max-height: 60%;">
                  <form [formGroup]="connnectForm" (ngSubmit)="onSubmitConnect()">
                    <h4>Connexion</h4>
                    <p class="text-muted">Connectez-vous en utilisant votre compte</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" id="login" class="form-control" placeholder="Nom D'Utilisateur" autocomplete="username"
                      formControlName="login" (change)="showConfirmation()">
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" id="mdp" class="form-control" placeholder="Mot de passe" autocomplete="current-password"
                      formControlName="mdp">
                    </div>
                    <div class="input-group mb-4" *ngIf="confirmation">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" id="mdp2" class="form-control" placeholder="Confirmez le Mot de passe" autocomplete="current-password"
                      formControlName="mdp2">
                    </div>
                    <div class="row">
                      <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" [disabled]="connnectForm.invalid">Connecter</button>
                      </div>
                      <div class="col-6 text-right">
                       <a routerLink="/forgot-password"> <button type="button" class="btn btn-link px-0">Mot de Passe Oublier ?</button></a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card text-white bg-primary" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Mairie de Cotonou</h2>
                    <img src="../assets/img/mairie/logo_mairie.png" alt="Logo de la Mairie">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Erreur de connexion</h4>
                <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{ messageErreur }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">OK</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>
    </main>
  </div>
