<div class="card">
  <div class="card-header">
      <i class="fa fa-align-justify"></i> Listes des Commandes
  </div>
  <div class="card-body">
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="addComModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>

      <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
      [dtTrigger]="dtTrigger1" id="dataTable1">
          <thead>
              <tr>
                  <th>Numéro</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Délai de Livraison</th>
                  <th>Fournisseur</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let comm of commandes; let i = index">
                  <td>{{ comm.numCommande }}</td>
                  <td>{{ comm.dateCommande }}</td>
                  <td>{{ comm.description }}</td>
                  <td>{{ comm.delaiLivraison }} Jour(s)</td>
                  <td>{{ comm.frs.codeFrs }} - {{ comm.frs.identiteFrs }}</td>
                  <td>
                      <button class="btn btn-warning btn-sm"  data-toggle="modal" (click)="initEditCommande(i)"><span class="fa fa-edit"></span></button>
                      <button class="btn btn-danger btn-sm"  data-toggle="modal" (click)="initDeleteCommande(i)"><span class="fa fa-trash"></span></button>
                      <button class="btn btn-info btn-sm" data-toggle="modal" ><span class="fa fa-eye"></span></button>
                      <button class="btn btn-dark btn-sm" (click)="initPrintPdfOfAnCommande(i)"><span class="fa fa-file-o"></span></button>
                      <!--Le bouton des options-->
                      <div class="btn-group" dropdown>
                        <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                          <li role="menuitem"><a class="dropdown-item" >Another action</a>
                          </li>
                          <li role="menuitem"><a class="dropdown-item" >Something else
                            here</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                          </li>
                        </ul>
                      </div>
                  </td>
              </tr>
          </tbody>
          <tfoot>
              <tr>
                  <th>Numéro</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Délai de Livraison</th>
                  <th>Fournisseur</th>
                  <th>Actions</th>
              </tr>
          </tfoot>
      </table>

  <!--Modal add-->
      <div bsModal #addComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-primary modal-xl" role="document">
            <form [formGroup]="addCommandeFormGroup" (ngSubmit)="onSubmitAddCommandeFormsGroup()">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter une Commande</h4>
                    <button type="button" class="close" (click)="addComModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="addNumCommande">Numéro</label>
                      <input type="text" class="form-control" id="addNumCommande"
                        formControlName="addNumCommande" placeholder="Numéro de la commande">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addDateCommande">Date</label>
                      <input type="date" class="form-control" id="addDateCommande"
                       formControlName="addDateCommande">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addDelaiLivraison">Délais de Livraison (Nbr Jour)</label>
                      <input type="number" class="form-control" id="addDelaiLivraison"
                       formControlName="addDelaiLivraison" placeholder="Délais en jour">
                    </div>

                  </div><!--/.row-->

                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="addFrs">Fournisseur</label>
                        <select id="addFrs" name="addFrs" class="form-control"
                        formControlName="addFrs">
                          <option *ngFor="let frs of fournisseurs; let i = index" [value]="i">
                            {{ frs.codeFrs }} - {{ frs.identiteFrs }}
                          </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addDescription">Description</label>
                      <input type="text" class="form-control" id="addDescription"
                       formControlName="addDescription" placeholder="Description...">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="addDateRemiseCommande">Date de Remise</label>
                      <input type="date" class="form-control" id="addDateRemiseCommande"
                       formControlName="addDateRemiseCommande">
                    </div>
                  </div><!--/.row-->
                  <div class="row">
                    <button type="button" data-toggle="modal" (click)="onShowAddArticleModalAddingCommande()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-striped table-lg">
                      <thead>
                        <tr>
                          <th>Code Article</th>
                          <th>Libellé de l'Article</th>
                          <th>Prix Unit.</th>
                          <th>Quantité</th>
                          <th>TVA(en %)</th>
                          <th>Remise</th>
                          <th>Montant TTC(-Remise)</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let addLignCom of tempAddLigneCommandes; let i = index">
                          <td>{{ addLignCom.article.codeArticle }}</td>
                          <td>{{ addLignCom.article.libArticle }}</td>
                          <td><input [(ngModel)]="tempAddLigneCommandes[i].puligneCommande" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                          <td><input [(ngModel)]="tempAddLigneCommandes[i].qteLigneCommande" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                          <td><input [(ngModel)]="tempAddLigneCommandes[i].tva" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                          <td><input [(ngModel)]="tempAddLigneCommandes[i].remise" [ngModelOptions]="{standalone: true}" class="form-control" type="number"></td>
                          <td>{{ (tempAddLigneCommandes[i].qteLigneCommande*tempAddLigneCommandes[i].puligneCommande*(1+(tempAddLigneCommandes[i].tva/100)))-tempAddLigneCommandes[i].remise }}</td>
                          <td>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleAddingOfComm1(i)"><span class="fa fa-trash"></span></button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addComModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enrégistrer</button>
                </div>
              </div><!-- /.modal-content -->
            </form>

          </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal edit-->
  <div bsModal #editComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-warning modal-xl" role="document">
        <form [formGroup]="editCommandeFormGroup" (ngSubmit)="onSubmitEditCommandeFormsGroup()">
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Modifer Commande</h4>
            <button type="button" class="close" (click)="editComModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="editNumCommande">Numéro</label>
                    <input type="text" class="form-control" id="editNumCommande"
                      formControlName="editNumCommande" placeholder="Numéro de la commande"
                      [ngModel]="editCommande.numCommande" readonly>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editDateCommande">Date</label>
                    <input type="date" class="form-control" id="editDateCommande"
                     formControlName="editDateCommande" [ngModel]="editCommande.dateCommande">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editDelaiLivraison">Délais de Livraison (Nbr Jour)</label>
                    <input type="number" class="form-control" id="editDelaiLivraison"
                     formControlName="editDelaiLivraison" placeholder="Délais en jour"
                     [ngModel]="editCommande.delaiLivraison">
                  </div>

                </div><!--/.row-->

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="editFrs">Fournisseur</label>
                      <select id="editFrs" name="editFrs" class="form-control"
                      formControlName="editFrs" >
                        <option *ngFor="let frs of fournisseurs; let i = index" [value]="i">
                          {{ frs.codeFrs }} - {{ frs.identiteFrs }}
                        </option>
                      </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editDescription">Description</label>
                    <input type="text" class="form-control" id="editDescription"
                     formControlName="editDescription" placeholder="Description..."
                     [ngModel]="editCommande.description">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="editDateRemiseCommande">Date de Remise</label>
                    <input type="date" class="form-control" id="editDateRemiseCommande"
                     formControlName="editDateRemiseCommande" [ngModel]="editCommande.dateRemise">
                  </div>
                </div><!--/.row-->
                <div class="row">
                  <button type="button" data-toggle="modal" (click)="onShowAddArticleModalEditingCommande()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                </div>
                <div class="row">
                  <table class="table table-bordered table-striped table-lg">
                    <thead>
                      <tr>
                        <th>Code Article</th>
                        <th>Libellé de l'Article</th>
                        <th>Prix Unit.</th>
                        <th>Quantité</th>
                        <th>TVA(en %)</th>
                        <th>Remise</th>
                        <th>Montant TTC(-Remise)</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let editLignCom of tempEditLigneCommandes; let i = index">
                        <td>{{ editLignCom.article.codeArticle }}</td>
                        <td>{{ editLignCom.article.libArticle }}</td>
                        <td><input [(ngModel)]="tempEditLigneCommandes[i].puligneCommande" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                        <td><input [(ngModel)]="tempEditLigneCommandes[i].qteLigneCommande" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                        <td><input [(ngModel)]="tempEditLigneCommandes[i].tva" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                        <td><input [(ngModel)]="tempEditLigneCommandes[i].remise" [ngModelOptions]="{standalone: true}" class="form-control" type="number"></td>
                        <td>{{ (tempEditLigneCommandes[i].qteLigneCommande*tempEditLigneCommandes[i].puligneCommande*(1+(tempEditLigneCommandes[i].tva/100)))-tempEditLigneCommandes[i].remise }}</td>
                        <td>
                          <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleEditingOfComm1(i)"><span class="fa fa-trash"></span></button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="editComModal.hide()">Annuler</button>
            <button type="submit" class="btn btn-warning">Modifier</button>
            </div>
          </div><!-- /.modal-content -->
        </form>

      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal delete-->

  <div bsModal #deleteComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title text-center">Supprimer une commande</h4>
          <button type="button" class="close" (click)="deleteComModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <p>Vous êtes sur le point de supprimer la Commande <mark style="color: red;">{{ suprCommande.numCommande }}</mark></p>
            <p>Le confirmez-vous ?</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteComModal.hide()">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="onConfirmDeleteCommande()">Supprimer</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal de selection d'Article pour ajout de Commande-->
  <div bsModal #addArticle1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionner les articles</h4>
          <button type="button" class="close" (click)="addArticle1.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="card" style="margin: 0;">
              <div class="card-body">
                <table class="table table-striped" id="tabListArt" datatable [dtOptions]="dtOptions2"
                 [dtTrigger]="dtTrigger2">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Libellé</th>
                      <th>Prix unitaire</th>
                      <th>Choix?</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let articl of articles; let i = index">
                      <td>{{ articl.codeArticle }}</td>
                      <td>{{ articl.libArticle }}</td>
                      <td>{{ articl.prixVenteArticle }}</td>
                      <td>
                        <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                           (click)="addArticleForAddingOfComm1(i)"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addArticle1.hide()">Fermer</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


   <!--Modal de selection d'Article pour edition de commande-->
   <div bsModal #addArticle2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sélectionner les articles</h4>
          <button type="button" class="close" (click)="addArticle2.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="card" style="margin: 0;">
              <div class="card-body">
                <table class="table table-striped" id="tabListArt" datatable [dtOptions]="dtOptions3"
                 [dtTrigger]="dtTrigger3">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Libellé</th>
                      <th>Prix unitaire</th>
                      <th>Choix?</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let articl of articles; let i = index">
                      <td>{{ articl.codeArticle }}</td>
                      <td>{{ articl.libArticle }}</td>
                      <td>{{ articl.prixVenteArticle }}</td>
                      <td>
                        <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                          (click)="addArticleForEditingOfComm1(i)"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addArticle2.hide()">Fermer</button>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!--Modal View PDF-->

  <div bsModal #viewPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title text-center">Apperçu</h4>
          <button type="button" class="close" (click)="viewPdfModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <iframe class="col" [src]="pdfToShow" frameborder="0" style="height: 400px;"></iframe>
            </div>

          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="viewPdfModal.hide()">Fermer</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




  </div>
</div>
