<div class="card">
  <div class="card-header">
      <i class="fa fa-align-justify"></i> Listes des Actes Livrables facturés non livrés
  </div>
  <div class="card-body">
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;" >
      
      <label > 
        Caisse:
                <select  [formControl]="opCaisseLivre" name="caisseSelected">
                    <option *ngFor="let c of caisses; let i=index" [value]="c.caisse.codeCaisse">{{c.caisse.libeCaisse}}</option>
                </select>
      </label>

      <label style="padding-left: 20px;">
        Date Début:
        <input type="date" [formControl]="debut" id="dateDebut" >
      </label>

      <label style="padding-left: 20px;">
        Date Fin:
        <input type="date" [formControl]="fin" name="dateFin">
      </label>

      <label style="padding-left: 20px;">

        <button class="btn btn-primary" data-toggle="modal" (click)="verifierRecuperation()">OK <!--span class="fa fa-plus-circle"></span--></button>
       
      </label>
     

      <!--div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddPointVente()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddPointVente()">CAISSE <span class="fa fa-plus-circle"></span></button></div>
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddPointVente()">DATE1 <span class="fa fa-plus-circle"></span></button></div>
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddPointVente()">DATE2 <span class="fa fa-plus-circle"></span></button></div>
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddPointVente()">OK <span class="fa fa-plus-circle"></span></button></div-->

      
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>

      <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" id="actualise">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Numéro </th>
                  <th>Code Article </th>
                  <th>Libellé Article</th>
                  <th>Quantité</th>
                  <th>Montant</th>
                  <th>Contribuable</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let opliv of ligneopcaisse; let i = index">
                  <td>{{ opliv.opCaisse.dateOpCaisse | date :  "dd/MM/y" }}</td>
                  <td>{{ opliv.opCaisse.numOpCaisse }}</td>
                  <td>{{ opliv.article.codeArticle }}</td>
                  <td>{{ opliv.article.libArticle }}</td>
                  <td>{{ opliv.qteLigneOperCaisse }}</td>
                  <td>{{ opliv.qteLigneOperCaisse*opliv.prixLigneOperCaisse }}</td>
                  <td>{{ opliv.opCaisse.contribuable }}</td>
                  <td>
                      <button class="btn btn-primary" (click)="validerLivraison(i)"> Livré</button>
                  </td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Date</th>
              <th>Numéro </th>
              <th>Code Article </th>
              <th>Libellé Article</th>
              <th>Quantité</th>
              <th>Montant</th>
              <th>Contribuable</th>
              <th>Actions</th>
          </tr>
          </tfoot>
      </table>

  </div>
</div>
