<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Utilisateurs Du Système
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
    [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Prénoms</th>
          <th>Fontion</th>
          <th>Service</th>
          <th>Actif</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of utilisateurs; let i = index">
          <td>{{ user.idUtilisateur }}</td>
          <td>{{ user.nomUtilisateur }}</td>
          <td>{{ user.prenomUtilisateur }}</td>
          <td>{{ user.fonctionUtilisateur?.libFonction }}</td>
          <td *ngIf="user.service!==null && user.service!==undefined">{{ user.service.libService }}</td>
          <td *ngIf="user.service===null || user.service===undefined">AUCUN</td>
          <td *ngIf="user.activeUtilisateur.valueOf()===true">OUI</td>
          <td *ngIf="user.activeUtilisateur.valueOf()===false">NON</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditUser(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteUser(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosUser(i)"><span class="fa fa-eye"></span></button>
            <!--<button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            Le bouton des options
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>-->
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Nom</th>
          <th>Prénoms</th>
          <th>Fontion</th>
          <th>Service</th>
          <th>Actif</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>

    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <form [formGroup]="addUserFormsGroup" (ngSubmit)="onSubmitAddUserFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Utilisateur</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un article-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouvel Utilisateur</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addNomUtilisateur">Nom</label>
                            <input type="text" class="form-control" id="addNomUtilisateur"
                             autocomplete="off" formControlName="addNomUtilisateur" placeholder="Nom de l'Utilisateur">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addPrenomUtilisateur">Prénoms</label>
                            <input type="text" class="form-control" id="addPrenomUtilisateure"
                             autocomplete="off" formControlName="addPrenomUtilisateur" placeholder="Prénoms de l'Utilisateur">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addLogin">Login</label>
                            <input type="text" class="form-control" id="addLogin"
                             autocomplete="off" formControlName="addLogin" placeholder="Login de l'Utilisateur">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addFonctionUtilisateur">Fonction</label>
                            <select id="addFonctionUtilisateur" name="addFonctionUtilisateur" class="form-control"
                              formControlName="addFonctionUtilisateur">
                              <option *ngFor="let servi of fonctions; let i = index" [value]="i">
                                {{ servi?.libFonction }}
                              </option>
                            </select>
                            <!--label for="addMotDePass">Mot de Passe</label>
                            <input type="password" class="form-control" id="addMotDePass"
                             autocomplete="off" formControlName="addMotDePass" disabled="true" placeholder="Mot de Passe de l'Utilisateur"-->
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addService">Service</label>
                            <select id="addService" name="addService" class="form-control"
                              formControlName="addService">
                                <option value="-1"></option>
                                <option *ngFor="let servi of services; let i = index" [value]="i">
                                {{ servi?.libService }}
                                </option>
                            </select>
                          </div>
                          <div class="form-check form-check-inline mr-3">
                            <label class="form-check-label" for="addActiveUtilisateur"> Compte Actif</label>
                            <input class="form-check-input" type="checkbox" id="addActiveUtilisateur" formControlName="addActiveUtilisateur">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addUserFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning modal-lg" role="document">
              <form [formGroup]="editUserFormsGroup" (ngSubmit)="onSubmitEditUserFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Utilisateur</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un utilisateur-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier Un Utilisateur</strong>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="editNomUtilisateur">Nom</label>
                            <input type="text" class="form-control" id="editNomUtilisateur"
                            autocomplete="off" formControlName="editNomUtilisateur" [ngModel]="editUser.nomUtilisateur" placeholder="Nom de l'Utilisateur">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editPrenomUtilisateur">Prénoms</label>
                            <input type="text" class="form-control" id="editPrenomUtilisateur"
                             autocomplete="off" formControlName="editPrenomUtilisateur" [ngModel]="editUser.prenomUtilisateur" placeholder="Prénoms de l'Utilisateur">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="editLogin">Login</label>
                            <input type="text" class="form-control" id="editLogin"
                            autocomplete="off" formControlName="editLogin" [ngModel]="editUser.login" placeholder="Login de l'Utilisateur">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editFonctionUtilisateur">Fonction</label>
                            <select id="editService" name="editService" class="form-control" formControlName="editFonctionUtilisateur">
                              <option *ngFor="let servi of fonctions; let i = index" [value]="i">
                               {{ servi.libFonction }}
                              </option>
                            </select>
                            <!--label for="editMotDePass">Mot de Passe</label>
                            <input type="password" class="form-control" id="editMotDePass" readonly
                            autocomplete="off" formControlName="editMotDePass" placeholder="Mot de Passe de l'Utilisateur"-->
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-3">
                            <label for="editService">Service</label>
                              <select id="editService" name="editService" class="form-control"
                              formControlName="editService">
                                <option value="-1"></option>
                                <option *ngFor="let servi of services; let i = index" [value]="i">
                                  {{ servi.libService }}
                                </option>
                              </select>
                          </div>
                          <div class="form-check form-check-inline mr-4">
                            <input class="form-check-input" type="checkbox" id="editActiveUtilisateur" [ngModel]="editUser.activeUtilisateur"
                              formControlName="editActiveUtilisateur">
                            <label class="form-check-label" for="editActiveUtilisateur"> Compte Actif</label>
                            </div>
                          <div class="form-check form-check-inline mr-6">
                            <input class="form-check-input" type="checkbox" id="editAskMdp" [ngModel]="editUser.askMdp1erLance"
                              formControlName="editAskMdp">
                            <label class="form-check-label" for="editAskMdp"> Saisir le Mot de Passe à la Prochaine Connexion </label>
                            </div>
                            </div>
                        <!--/.row-->
                        <div class="form-group row">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editUserFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Utilisateur</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer l'Utilisateur <mark style="color: red;">{{ suprUser.idUtilisateur }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteUser()">Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Utilisateur</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>{{ infosUser.idUtilisateur }}</td>
                      </tr>
                      <tr>
                        <th>Nom</th>
                        <td>{{ infosUser.nomUtilisateur }}</td>
                      </tr>
                      <tr>
                        <th>Prénoms</th>
                        <td>{{ infosUser.prenomUtilisateur }}</td>
                      </tr>
                      <tr>
                        <th>Login</th>
                        <td>{{ infosUser.login }}</td>
                      </tr>
                      <tr>
                        <th>Fonction</th>
                        <td>{{ infosUser.fonctionUtilisateur.libFonction }}</td>
                      </tr>
                      <tr>
                        <th>Service</th>
                        <td *ngIf="infosUser.service!==null && infosUser.service!==undefined">{{ infosUser.service.libService }}</td>
                        <td *ngIf="infosUser.service===null || infosUser.service===undefined">AUCUN</td>
                      </tr>
                      <tr>
                        <th>Actif</th>
                        <td *ngIf="infosUser.activeUtilisateur.valueOf()===true">OUI</td>
                        <td *ngIf="infosUser.activeUtilisateur.valueOf()===false">NON</td>
                      </tr>
                      <tr>
                        <th>Dernière Connexion</th>
                        <td>le 31/12/2020 à 17h30 -- Pas encore</td>
                      </tr>
                      <tr>
                        <th>En ligne</th>
                        <td>NON -- Pas encore</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
