<div>
  <title ><h4>Opération de caisse</h4></title>
<div class="card">
  <div class="card-header">
    <h5 style="text-align: center;"><i class="fa fa-align-justify">Liste des opérations de caisse</i></h5>

  </div><!--Fin card header-->
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <h5><i class="fa fa-align-justify">Liste des opérations de caisse</i></h5>
      </div>
      <div class="col-lg-3">
         <button class="btn btn-success" data-toggle="modal" (click)="InitialiseNouvelleVente()" type="button">Ajouter une vente</button>
      </div>
      <div class="col-lg-3">
          <button class="btn btn-success" data-toggle="modal" (click)="initialiseNouveauLoyer()" type="button">Ajouter un loyer</button>
      </div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtListOpeCa">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Date</th>
          <th>Type</th>
          <th>Paiement par</th>
          <th>Type de recette</th>
          <th>contribuable</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let oc of listOp; let i=index;">
        <tr>
          <td>{{oc.numOpCaisse}}</td>
          <td>{{oc.dateOpCaisse}}</td>
          <td>{{oc.caisse.libeCaisse}}</td>
          <td>{{oc.modePaiement.libeModPay}}</td>
          <td>{{oc.typeRecette.libeTypRec}}</td>
          <td>{{oc.contribuable}}</td>
          <td>
              <button class="btn btn-info btn-sm" data-toggle="modal" (click)="detailOp.show()"><span class="fa fa-eye"></span></button>
              <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="annulOp.show()"><span class="fa fa-trash"></span></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Numero</th>
          <th>Date</th>
          <th>Type</th>
          <th>Mode de paiement</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
  </div><!--Fin card-body-->
</div>
</div>

<!----------------------------------Ajoute de vente------------------------------------------->
<div bsModal #addVente="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <form [formGroup]="addVentGroup" class="form-horizontal" (ngSubmit)="AjouteVente()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nouvelle vente</h4>
          <button type="button" class="close" (click)="addVente.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="form-group row">
                <div class="row">
                  <div class="col-lg-3">
                    <label for="nVentCais">Caisse</label>
                    <select id="nVentCais" formControlName="nVentCais" class="form-control" required >
                        <option  *ngFor="let cais of caisses; let i = index" [value]="i">{{ cais.libeCaisse }}</option>
                    </select>
                  </div>
                  <div class="col-lg-3">
                    <label class="form-label" for="nVentDat">Date</label>
                    <input type="datetime" id="nVentDat" formControlName="nVentDat" class="form-control" placeholder="Date et heure" required>
                  </div>
                  <div class="col-lg-3">
                    <label class="form-label" for="nVentNum">Numéro</label>
                    <input type="text" id="nVentNum" formControlName="nVentNum" class="form-control" placeholder="Numéro" required>
                  </div>
                  <div class="col-lg-3">
                    <label for="nVentTyp">Type</label>
                    <select id="nVentTyp" formControlName="nVentTyp" class="form-control" required>
                      <option *ngFor="let typ of opTypes; let i=index" [value]="i">{{typ.codeTypRec}}-{{typ.libeTypRec}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <label for="nVentMod">Mode</label>
                    <select id="nVentMod" formControlName="nVentMod" class="form-control" required>
                      <option *ngFor="let mod of modes; let i=index" [value]="i">{{mod.libeModPay}}</option>
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <label class="form-label" for="nVentCont">Contribuable</label>
                    <input type="text" id="nVentCont" formControlName="nVentCont" class="form-control" placeholder="Contribuable">
                  </div>
                  <div class="col-lg-4">
                    <label class="form-label" for="nVentObs">Observation</label>
                    <input type="text" id="nVentObs" formControlName="nVentObs" class="form-control" placeholder="Observation">
                  </div>
                  <div class="col-lg-4">
                    <label class="form-label" for="nTotalV">Observation</label>
                    <input type="number" id="nTotalV" formControlName="nTotalV" class="form-control" placeholder="Observation">
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <button type="button" class="btn btn-block btn-primary active" aria-pressed="true"  (click)="ouvreAddArt()">Ajouter Article</button>
                </div>
                <br>
                <table class="table table-bordered" >
                  <thead>
                      <tr>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Montant</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tmpLigne of tempLigneOpCais; let i=index" (select)="recupererTotalVente()">
                      <td>{{tmpLigne.article.codeArticle}}</td>
                      <td>{{tmpLigne.article.libArticle}}</td>
                      <td ><input (click)="recalculerTotalvente()" (change)="recupererTotalVente()" type="number" [(ngModel)]="tempLigneOpCais[[i]].prixLigneOpCaisse" [ngModelOptions]="{standalone: true} "></td>
                      <td><input (click)="recupererTotalVente()" (change)="recalculerTotalvente()"  type="number" [(ngModel)]="tempLigneOpCais[[i]].qteLigneOpCaisse" [ngModelOptions]="{standalone: true}"></td>
                      <td id="nVentLigne" formControlName="nVentLigne">{{tempLigneOpCais[i].prixLigneOpCaisse*tempLigneOpCais[i].qteLigneOpCaisse}}</td>
                      <td>
                        <button class="btn btn-block btn-sm" data-toggle="modal" style="color: red;" (click)="supTempLigneOpCais(i)"><span class="fa fa-trash"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Valider</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--------------------------------------------AddLoyer----------------------------------------->
<div bsModal #addLoyer="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <form [formGroup]="addVentGroup" class="form-horizontal" (ngSubmit)="AjouteVente()">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nouveau loyer</h4>
          <button type="button" class="close" (click)="addLoyer.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="row">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des locataires
                  </div>
                  <div class="card-body">
                    <table class="table table-sm" datatable [dtOptions]="tabLocataire" [dtTrigger]="dtLocataite">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Identité</th>
                          <th>Téléphone</th>
                          <th>Personne à contacter</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let loc of locataires; let i=index">
                        <tr>
                          <td>loc.idLocataire</td>
                          <td>loc.identiteLocataire</td>
                          <td>loc.telLocataire</td>
                          <td>loc.personneAContacter</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>N°</th>
                          <th>Identité</th>
                          <th>Téléphone</th>
                          <th>Personne à contacter</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="row">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> Tableau des échéances non payées
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Numero</th>
                          <th>Mois</th>
                          <th>Echéance</th>
                          <th>Contrat</th>
                          <th>Bon?</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Pompeius René</td>
                          <td>2012/01/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>Numero</td>
                          <td>Mois</td>
                          <td>Echéance</td>
                          <td>Contrat</td>
                          <td>Bon?</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addLoyer.hide()">Close</button>
          <button type="button" class="btn btn-primary">Valider</button>
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
                                        <!--Détail-->
<div bsModal #detailOp="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Détail de l'opération</h4>
        <button type="button" class="close" (click)="detailOp.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="detailOp.hide()">Retour</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Annulation-->
<div bsModal #annulOp="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-warning" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Annulation</h4>
<button type="button" class="close" (click)="annulOp.hide()" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<p>One fine body&hellip;</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="annulOp.hide()">Abandonner</button>
<button type="button" class="btn btn-success">Valider</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

                                                                  <!--Ajout d'article-->

<div bsModal #addArticle="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sélectionner les articles</h4>
        <button type="button" class="close" (click)="addArticle.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="card" style="margin: 0;">
            <div class="card-body">
              <table class="table table-striped" id="tabListArt" datatable [dtOptions]="dtListArt" [dtTrigger]="dtrigAddArt">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Prix unitaire</th>
                    <th>Choix?</th>
                  </tr>
                </thead>
                <tbody *ngFor="let art of Articles; let i=index;">
                  <tr>
                    <td>{{art.codeArticle}}</td>
                    <td>{{art.libArticle}}</td>
                    <td>{{art.prixVenteArticle}}</td>
                    <td>
                      <p style="text-align: center;"><input class="form-check-input" type="checkbox" (click)="choisirArticle(i)"></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addArticle.hide()">Abandonner</button>
        <button type="button" class="btn btn-success">Valider</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
