<div>
    <title>
        <h4>Opération de caisse</h4>
    </title>
    <div class="card">
        <div class="card-header"></div>
        <!--Fin card header-->
        <div class="card-body">
            <div class="row">
              <!--div class="form-group row">
                              <div class="col-lg-3"></div>
                              <div class="col-lg-3">
                                <button class="btn btn-success" data-toggle="modal" (click)="initAnnulations()" type="button">Nouvelle
                                  Voir les annulation</button>
                                </div>
                                <div class="col-lg-3">
                                  <button class="btn btn-success" data-toggle="modal" (click)="initNewImput()" type="button">Nouvelle
                                    imputation</button>
                                </div>
                                <div class="col-lg-3">
                                  <button class="btn btn-success" data-toggle="modal" (click)="initLoyer()" type="button">Nouvelle redevance</button>
                                </div>
                                </div-->
                                <div class="form-group row">
                                  <div class="col-3"></div>
                                  <div class="col-3">
                                    <button *ngIf="this.user.fonctionUtilisateur.codeFonction=='S1'" class="btn btn-success" data-toggle="modal"
                                      (click)="initNewVente()" type="button">Nouvelle
                                      prestation</button>
                                  </div>
                                  <div class="col-3">
                                    <button *ngIf="this.user.fonctionUtilisateur.codeFonction=='S1'" class="btn btn-success" data-toggle="modal"
                                      (click)="initNewImput()" type="button">Nouvelle
                                      imputation</button>
                                  </div>
                                  <div class="col-3">
                                    <button *ngIf="this.user.fonctionUtilisateur.codeFonction=='S1'" class="btn btn-success" data-toggle="modal"
                                      (click)="initLoyer()" type="button">Nouvelle redevance</button>
                                  </div>
                                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <h5><i class="fa fa-align-justify">Liste des opérations du jours</i></h5>
                </div> <br><br><br>
            </div>
            <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="tabDailyOp" [dtTrigger]="dtrigDailyOp"
              id="dtop">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Date</th>
                  <th>Paiement par</th>
                  <th>Type de recette</th>
                  <th>contribuable</th>
                  <th>Actions</th>
                </tr>
              </thead>
                <tbody *ngFor="let oc of opDay; let i=index;">
                    <tr>
                        <td>{{oc.numOpCaisse}}</td>
                        <td>{{oc.dateOpCaisse | date:'dd/MM/yyyy hh:mm'}}</td>
                        <td>{{oc.modePaiement.libeModPay}}</td>
                        <td>{{oc.typeRecette.libeTypRec}}</td>
                        <td>{{oc.contribuable}}</td>
                        <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Détail de l'opération" (click)="initdetail(oc)"><span class="fa fa-align-justify"></span></button>
                            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Annuler l'opération" *ngIf="oc.valideOpCaisse" (click)="initAnnulOp(oc)"><span class="fa fa-undo"></span></button>
                            <!--button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Annuler l'opération"
                                                                                      *ngIf="!oc.valideOpCaisse" (click)="initAnnulOp(oc)"><span class="fa fa-done"></span></button-->
                            <!--button class="btn btn-danger btn-sm" data-toggle="modal tooltip" data-placement="top" title="Supprimer l'opération" *ngIf="!oc.valideOpCaisse" (click)="initSUpOP(oc)"><span class="fa fa-trash"></span></button-->
                            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Apperçu du reçu"
                              (click)="afficheFacture(oc)"><span class="fa fa-file-o"></span></button>
                            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Apperçu du ticket" *ngIf="oc.typeRecette.codeTypRec.valueOf()==='P'" (click)="imprimeTicket(oc)"><span class="fa fa-dot-circle-o"></span></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Numero</th>
                        <th>Date</th>
                        <th>Mode de paiement</th>
                        <th>Type recette</th>
                        <th>Contribuable</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!--Fin card-body-->
    </div>
</div>

<!----------------------------------------addVente------------------------------------------->
<div bsModal #addVente="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-primary" role="document">
        <form [formGroup]="addVentGroup" class="form-horizontal" (ngSubmit)="AjouteVente()">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nouvelle vente</h4>
                    <button type="button" class="close" (click)="fermeVente()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <!--div class="card-header">
            </div-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="nVentCais">Caisse</label>
                                    <select id="nVentCais" formControlName="nVentCais" class="form-control" required>
                        <option *ngFor="let c of caisses; let i = index" [value]="i">{{ c.libeCaisse }}</option>
                    </select>
                                </div>
                                <div class="col-sm-2.5">
                                    <label for="addVentDat">Date de début</label>
                                    <input type="datetime-local" class="form-control" id="nVentDat" formControlName="nVentDat" placeholder="Date de fin">
                                </div>
                                <div class="col-xl-2">
                                    <label for="nVentMod">Mode</label>
                                    <select id="nVentMod" formControlName="nVentMod" class="form-control" required>
                      <option *ngFor="let mod of modes; let i=index" [value]="i">{{mod.libeModPay}}</option>
                    </select>
                                </div>
                                <div class="col-xl-3">
                                    <label class="form-label" for="nVentCont">Contribuable</label>
                                    <input type="text" id="nVentCont" formControlName="nVentCont" class="form-control" placeholder="Contribuable" autocomplete="false">
                                </div>
                                <div class="col-xl-2.5">
                                    <label class="form-label" for="nVentObs">Observation</label>
                                    <input type="text" id="nVentObs" formControlName="nVentObs" class="form-control" placeholder="Observation" autocomplete="false">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-12">
                                    <button type="button" class="btn btn-block btn-primary active" aria-pressed="true" (click)="ouvreAddArt()">Ajouter Article</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Libellé</th>
                                            <th>Commentaire</th>
                                            <th>Prix unitaire</th>
                                            <th>Quantité</th>
                                            <th>Montant</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tmpLigne of tempLigneOpCais; let i=index">
                                            <td>{{tmpLigne.article.codeArticle}}</td>
                                            <td>{{tmpLigne.article.libArticle}}</td>
                                            <td><input [(ngModel)]="tempLigneOpCais[[i]].commentaireLigneOperCaisse" type="text" class="form-control" [ngModelOptions]="{standalone: true} "></td>
                                            <td><input type="number" class="form-control" placeholder="0" (change)="recalculerTotalvente()"
                                                (keyup)="recalculerTotalvente()" [(ngModel)]="tempLigneOpCais[[i]].prixLigneOperCaisse"
                                                [ngModelOptions]="{standalone: true}"></td>
                                            <td>
                                                <input type="number" class="form-control" placeholder="0" (change)="recalculerTotalvente()"
                                                (keyup)="recalculerTotalvente()" [(ngModel)]="tempLigneOpCais[[i]].qteLigneOperCaisse"
                                                [ngModelOptions]="{standalone: true}">
                                            </td>
                                            <td>{{tempLigneOpCais[i].prixLigneOperCaisse*tempLigneOpCais[i].qteLigneOperCaisse}}</td>
                                            <td>
                                                <button class="btn btn-block btn-sm" data-toggle="modal" style="color: red;" (click)="supTempLigneOpCais(i)"><span class="fa fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: center; font-weight: bold;" colspan="5">Total</td>
                                            <td style="text-align: center; font-weight: bold;" colspan="2">{{total}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-xl-4">
                                    <label class="form-label" for="depotVent">Montant Perçu</label>
                                    <input type="number" id="depotVent" (change)="recalculerReliquat()" (keyup)="recalculerReliquat()" formControlName="depotVent" class="form-control" placeholder="Montant perçu" autocomplete="false">
                                </div>
                                <div class="col-xl-4">
                                    <label class="form-label" for="monnaiVent">Monaie Rendu</label>
                                    <input type="number" id="monnaiVent" (change)="recalculerReliquat()" (keyup)="recalculerReliquat()" formControlName="monnaiVent" class="form-control" placeholder="Monnaie rendue" autocomplete="false">
                                </div>
                                <div class="col-xl-4">
                                    <label class="form-label" for="reliqVent">Reliquat</label>
                                    <input type="number" id="reliqVent" formControlName="reliqVent" readonly class="form-control" placeholder="Reliquat restant" value="Reliquat" autocomplete="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="fermeVente()">Fermer</button>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Valider</button>
                </div>
                <!--div class="modal-footer">
        </div-->
            </div>
        </form>
    </div>
</div>

<!-------------------------------------------AddLoyer----------------------------------------->
<div bsModal #addLoyer="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-primary" role="document">
        <form [formGroup]="addLoyerGroup" class="form-horizontal" (ngSubmit)="ajoutePaiement()">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nouveau loyer</h4>
                    <button type="button" class="close" (click)="fermerLoyer()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <!--div class="row">
                                <div class="col-xl-1">
                                    <label for="loyLoc">Locataire</label>
                                </div>
                                <div class="col-xl-3">
                                    <select formControlName="loyLoc" class="form-control" #Loca (ngModelChange)="chargerImmeubles(locataires[addLoyerGroup.value['loyLoc']])">
                                      <option *ngFor="let loc of locataires; let i=index" [value]="i">
                                          {{loc.identiteLocataire}}
                                      </option>
                                  </select>
                                </div>
                                <div class="col-xl-1">
                                    <label for="loyVL">Boutique</label>
                                </div>
                                <div class="col-xl-5">
                                    <select formControlName="loyVL" class="form-control">
                                        <option *ngFor="let cont of contratLocataire; let i=index" [value]="i">{{cont.numContrat}}: {{cont.immeuble.libIm}}</option>
                                      </select>
                                </div>
                                <div class="col-xl-2">
                                    <button type="button" class="btn btn-secondary" (click)="genererEcheancier(contratLocataire[addLoyerGroup.value['loyVL']])">
                                        Générer échéancier
                                    </button>
                                </div>
                            </div-->
                            
                            <div class="row">
                                <div class="col-xl-4">
                                    <label for="loyLoc">Locataire</label>
                                    <select formControlName="loyLoc" class="form-control" #Loca (ngModelChange)="chargerImmeubles(locataires[addLoyerGroup.value['loyLoc']])">
                                      <option *ngFor="let loc of locataires; let i=index" [value]="i">
                                          {{loc.identiteLocataire}}
                                      </option>
                                  </select>
                                </div>
                                <div class="col-xl-5">
                                    <label for="loyVL">Boutique</label>
                                    <select formControlName="loyVL" class="form-control" (ngModelChange)="afficheAvance(contratLocataire[addLoyerGroup.value['loyVL']])">
                                        <option *ngFor="let cont of contratLocataire; let i=index" [value]="i">{{cont.numContrat}}: {{cont.immeuble.libIm}}</option>
                                      </select>
                                </div>
                                <div class="col-xl-3">
                                    <label for="avce">Avance</label>
                                    <input type="number" formControlName="avce" class="form-control" readonly (change)="recalculerReliquatLoy()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <label class="form-label" for="loyMtt">Montant perçu</label>
                                    <input type="number" id="loyMtt" (change)="recalculerReliquatLoy()" (keyup)="recalculerReliquatLoy()" formControlName="loyMtt" class="form-control" placeholder="Montant perçu" autocomplete="false">
                                </div>
                                <div class="col-xl-4">
                                    <label class="form-label" for="loyMon">Monnaie rendue</label>
                                    <input type="number" id="loyMon" (change)="recalculerReliquatLoy()" (keyup)="recalculerReliquatLoy()" formControlName="loyMon" class="form-control" placeholder="Monnaie rendue" autocomplete="false">
                                </div>
                                <div class="col-xl-4">
                                    <label class="form-label" for="loyRel">Avance reconstituée</label>
                                    <input type="number" id="loyRel" formControlName="loyRel" class="form-control" readonly>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-secondary" (click)="genererEcheancier(contratLocataire[addLoyerGroup.value['loyVL']])">
                                        Générer échéancier
                                    </button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-xl-9">
                                    <table class="table table-bordered" datatable [dtOptions]="tabEcheance" [dtTrigger]="dtTrigEche" id="dteche">
                                        <thead>
                                            <tr>
                                                <th>Année</th>
                                                <th>Echéance</th>
                                                <th>Mois</th>
                                                <th>Prix</th>
                                                <th>Payé?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let echetmp of echeanceAPayer; let i=index">
                                                <td>{{echetmp.annee}}</td>
                                                <td>{{echetmp.dateEcheance|date: "dd/MM/yyyy"}}</td>
                                                <td>{{echetmp.moisEcheance}}
                                                    <span style="font-weight: bold; color: rgb(11, 13, 146);text-align: right;" *ngIf="echetmp.dateEcheance <= today">Consommé</span>
                                                </td>
                                                <td>{{echetmp.prix}}</td>
                                                <td>
                                                    <p style="text-align: center;"><input type="checkbox" formControlName="coche" [(ngModel)]="echetmp.payeEcheance"
                                                        (change)="considererEcheance(i)"></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td style="text-align: center; font-weight: bold;" colspan="3">Total</td>
                                                <td style="text-align: center; font-weight: bold;" colspan="2">{{total}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-3">
                                    <label for="loyCai">Caisse</label>
                                    <select id="loyCai" formControlName="loyCai" class="form-control">
                                        <option value="-1">Choisir la caisse</option>
                                        <option *ngFor="let afu of caisses; let i = index" [value]="i">
                                          {{ afu.libeCaisse }}</option>
                                    </select>
                                    <label for="loyDat">Date de paiement</label>
                                    <input formControlName="loyDat" id="loyDat" type="datetime-local" class="form-control">
                                    <label for="loyCai">Mode de paiement</label>
                                    <select formControlName="loyMod" class="form-control">
                                        <option value="-1">Choisir le mode de paiement</option>
                                      <option *ngFor="let m of modes; let i=index" [value]="i">
                                        {{m.libeModPay}}
                                      </option>
                                    </select>
                                    <label for="loyCon">Contribuable</label>
                                    <input formControlName="loyCon" id="loyCon" type="text" class="form-control" autocomplete="false">
                                    <label for="loyObs">Observation</label>
                                    <input formControlName="loyObs" id="loyObs" type="text" class="form-control" autocomplete="false">
                                    <!-- (blur)="repartir()"-->
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="fermerLoyer()">Fermer</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-------------------------------------------AddImput----------------------------------------->
<div bsModal #addImput="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-primary" role="document">
        <form [formGroup]="addImputGroup" class="form-horizontal" (ngSubmit)="ajouteImputation()">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nouvelle imputation</h4>
                    <button type="button" class="close" (click)="fermerImput()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label for="addImCor">Correspondant</label>
                                </div>
                                <div class="col-sm-3">
                                    <!--select formControlName="addImCor" class="form-control" #corre (change)="chargerPointNI(coi[addImputGroup.value['addImCor']])">
                    <option *ngFor="let corr of coi; let i=index" [value]="i">{{corr.magasinier.nomMagasinier}} {{corr.magasinier.prenomMagasinier}}</option>
                  </select-->
                                    <select formControlName="addImCor" class="form-control"  (ngModelChange)="showPointVente(magasinierImpList[addImputGroup.value['addImCor']])">
                    <option *ngFor="let corr of magasinierImpList; let i=index" [value]="i">{{corr.magasinier?.nomMagasinier}} {{corr.magasinier?.prenomMagasinier}}</option>
                  </select>
                                </div>

                                <!--Point vente imputable par correspondant-->
                                <div class="col-sm-2">
                                    <label for="addImCor">Point de vente</label>
                                </div>
                                <div class="col-sm-3">
                                    <select formControlName="addImPv" class="form-control" >
                    <option *ngFor="let pv of pointVentOfCorrespondant; let i=index" [value]="pv.numPointVente">{{pv.numPointVente}}</option>
                  </select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-secondary" (click)="chargerPointNI()">
                                      Afficher
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="addImDat">Date de paiement</label>
                                <input formControlName="addImDat" id="addImDat" type="datetime-local" class="form-control">
                            </div>
                            <div class="col-lg-3">
                                <label for="addImCai">Caisse</label>
                                <select id="addImCai" formControlName="addImCai" class="form-control" required>
                                      <option *ngFor="let afu of caisses; let i = index" [value]="i">
                                        {{ afu.libeCaisse }}
                                      </option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="addImMod">Mode</label>
                                <select id="addImMod" formControlName="addImMod" class="form-control" required>
                                      <option  *ngFor="let mod of modes; let i = index" [value]="i">
                                        {{ mod.libeModPay }}
                                      </option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label for="addImObs">Observation</label>
                                <input formControlName="addImObs" id="addImObs" type="text" class="form-control" autocomplete="false">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Libellé</th>
                                            <th>Prix unitaire</th>
                                            <th>Quantité</th>
                                            <th>Montant</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lpv of ImputLine; let i=index">
                                            <td>{{lpv.article?.codeArticle}}</td>
                                            <td>{{lpv.article?.libArticle}}</td>
                                            <td>{{lpv.pulignePointVente}}</td>
                                            <td>{{lpv.quantiteLignePointVente}}</td>
                                            <td>{{lpv.pulignePointVente*lpv.quantiteLignePointVente}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: center; font-weight: bold;" colspan="3">Total</td>
                                            <td style="text-align: center; font-weight: bold;" colspan="2">{{totalImput}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            
                        <div class="form-group-row">
                            <div class="col-lg-4">
                                <label for="imputDep">Montant perçu</label>
                                <input formControlName="imputDep" id="imputDep" type="number" class="form-control">
                            </div>
                            <div class="col-lg-4">
                                <label for="imputMon">Monnaie rendue</label>
                                <input formControlName="imputMon" id="imputMon" type="number" class="form-control">
                            </div>
                            <div class="col-lg-4">
                                <label for="imputRel">Relicat restant</label>
                                <input formControlName="imputRel" readonly id="imputRel" type="number" class="form-control">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="fermerImput()">Fermer</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>


<!-------------------------------------------Détail-------------------------------------------->
<div bsModal #detailOp="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <form [formGroup]="detailGroup" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Détail de l'opération</h4>
                    <button type="button" class="close" (click)="detailOp.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label" for="vNum">Numéro</label>
                                    <input type="text" id="vNum" formControlName="vNum" class="form-control" [(value)]="vnum" readonly>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" for="vDat">Date opération</label>
                                    <input type="text" id="vDat" formControlName="vDat" class="form-control" [(value)]="vdat" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label" for="vCai">Caisse</label>
                                    <input type="text" id="vCai" formControlName="vCai" class="form-control" [(value)]="vcai" readonly>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" for="vTyp">type operation</label>
                                    <input type="text" id="vTyp" formControlName="vTyp" class="form-control" [(value)]="vtyp" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label" for="vNum">Mode de paiement</label>
                                    <input type="text" id="vMod" formControlName="vMod" class="form-control" [(value)]="vmod" readonly>
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label" for="vCon">contribuable</label>
                                    <input type="text" id="vCon" formControlName="vCon" class="form-control" [(value)]="vcon" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="tabDetail">
                                    <thead>
                                        <tr>
                                            <th>code Art.</th>
                                            <th>Libellé article</th>
                                            <th>Quantité</th>
                                            <th>Prix unitaire</th>
                                            <th>Montant</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let lig of lignesOfOp; let i=index;">
                                        <tr>
                                            <td>{{lig.article.codeArticle}}</td>
                                            <td>{{lig.article.libArticle}}</td>
                                            <td style="text-align: right;">{{lig.qteLigneOperCaisse}}</td>
                                            <td style="text-align: right;">{{lig.prixLigneOperCaisse}}</td>
                                            <td style="text-align: right;">{{lig.qteLigneOperCaisse*lig.prixLigneOperCaisse}}</td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" style="text-align: center; font-weight: bold;">Total de la facture</td>
                                            <td colspan="2" style="text-align: center; font-weight: bold;">{{vtotal}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="detailOp.hide()">Retour</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Annulation-->
<div bsModal #opAnnul="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <form [formGroup]="annulGroup" class="form-horizontal" (ngSubmit)="annulerOperation()">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Annulation</h4>
                <button type="button" class="close" (click)="fermerAnnulation()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                <div class="row">
                  <p>Vous tentez d'annuler l'oppération de caisse <mark style="color: red;">{{annulop.numOpCaisse}}</mark></p>
                  <p>Êtes-vous sûre de vouloir l'annuler ?</p>
                  </div>
                <div class="row">
                  <label for="motif">Motif d'annulation</label>
                  <input type="text" class="formControl" formControlName="motif">
                </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fermerAnnulation()">Abandonner</button>
                <button type="button" class="btn btn-success" (click)="annulerOperation()">Continuer</button>
                </div>
                </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!---------------------------------------Suppression d'opération-------------------------------------->
<div bsModal #supOP="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suppression</h4>
                <button type="button" class="close" (click)="fermeSup()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer <mark style="color: red;">{{annulop.numOpCaisse}}</mark> des opérations de caisses</p>
                <p>Êtes-vous sûre de vouloir l'annuler ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fermeSup()">Non</button>
                <button type="button" class="btn btn-success" (click)="supprimerOperation()">Oui</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!----------------------------------------Apperçu------------------------------------------->
<div bsModal #appercu="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Apperçu</h4>
                <button type="button" class="close" (click)="appercu.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe class="col" [src]="pdfToShow" style="height: 400px;" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------Sélection d'article--------------->
<div bsModal #addArticle="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sélectionner les articles</h4>
                <button type="button" class="close" (click)="addArticle.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="card" style="margin: 0;">
                    <div class="card-body">
                        <table class="table table-striped" id="tabListArt" datatable [dtOptions]="tabArt" [dtTrigger]="dtArt" id="dt1">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Libellé</th>
                                    <th>Prix unitaire</th>
                                    <th>Choix?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let articl of Articles; let i = index">
                                    <td>{{ articl.codeArticle }}</td>
                                    <td>{{ articl.libArticle }}</td>
                                    <td>{{ articl.prixVenteArticle }}</td>
                                    <td>
                                        <p style="text-align: center;"><input class="form-check-input" type="checkbox" (click)="choisirArticle(i)"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="addArticle.hide()">OK</button>
            </div>
        </div>
    </div>
</div>

<!-------------------Recherche d'opération--------------->
<div bsModal #recherche="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rechercher...</h4>
                <button type="button" class="close" (click)="recherche.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="card" style="margin: 0;">
                    <div class="card-body">
                        <table class="table table-striped" id="tabListArt" datatable [dtOptions]="tabAllOp" [dtTrigger]="dtrigAllOp" id="dt1">
                            <thead>
                                <tr>
                                    <th>Numero</th>
                                    <th>Date</th>
                                    <th>Mode de paiement</th>
                                    <th>Type recette</th>
                                    <th>Contribuable</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let articl of Articles; let i = index">
                                    <td>{{ articl.codeArticle }}</td>
                                    <td>{{ articl.libArticle }}</td>
                                    <td>{{ articl.prixVenteArticle }}</td>
                                    <td>
                                        <p style="text-align: center;"><input class="form-check-input" type="checkbox" (click)="choisirArticle(i)"></p>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Numero</th>
                                    <th>Date</th>
                                    <th>Mode de paiement</th>
                                    <th>Type recette</th>
                                    <th>Contribuable</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
