<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Liste des Trésoriers communaux
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="initAddTres()">
         Nouveau <span class="fa fa-plus-circle"></span>
        </button>
            <br><br>
            <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="tabTresCom" [dtTrigger]="dTriTres" id="dtTres">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Téléphone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tresoriers; let i=index" value="i">
                        <td>{{item.idRp}}</td>
                        <td>{{item.magasinier.nomMagasinier}}</td>
                        <td>{{item.magasinier.prenomMagasinier}}</td>
                        <td>{{item.magasinier.telMagasinier}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initmod(i)" title="Modifier le Trésorier "><span class="fa fa-edit"></span></button>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDel(item)" title="Supprimer le Trésorier"><span class="fa fa-trash"></span></button>
                            <!--Le bouton des options-->
                            <!--div class="btn-group" dropdown>
                                <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem"><a class="dropdown-item">Action</a></li>
                                    <li role="menuitem"><a class="dropdown-item">Another action</a>
                                    </li>
                                    <li role="menuitem"><a class="dropdown-item">Something else
                      here</a></li>
                                    <li class="divider dropdown-divider"></li>
                                    <li role="menuitem"><a class="dropdown-item">Separated link</a>
                                    </li>
                                </ul>
                            </div-->
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Téléphone</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--/.col-->
</div>

<!-------------Ajout------------>
<div bsModal #addTresCom="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md modal-lg " role="document">
        <!-----Début formulaire-->
        <form [formGroup]="addTresComGroup" (ngSubmit)="ajouteTresCom()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter Trésorier(ère) communal(e)</h4>
                    <button type="button" class="close" (click)="addTresCom.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <!-----Nom-->
                        <div class="col md-6">
                            <label class="col-md-2 col-form-label" for="addCodTres">Code</label>
                            <input type="text" id="addCodTres" class="form-control" placeholder="Code " formControlName="addCodTres">
                        </div>
                        <div class="col md-6">
                            <label class="col-md-2 col-form-label" for="addNomTres">Nom</label>
                            <input type="text" id="addNomTres" class="form-control" placeholder="Nom " formControlName="addNomTres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col md-7">
                            <label for="addPreTres">Prénoms</label>
                            <input type="text" id="addPreTres" class="form-control" placeholder="Prénoms " formControlName="addPreTres">
                        </div>
                        <div class="col md-5">
                            <label for="addTelTres">Téléphone</label>
                            <input type="text" id="addTelTres" class="form-control" placeholder="Numéro de Téléphone" formControlName="addTelTres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--User-->
                        <label class="col-md-3 col-form-label" for="addUseTres">Utilisateur</label>
                        <div class="col-md-12">
                            <select type="text" id="addUseTres" class="form-control" placeholder="Numéro de Téléphone" formControlName="addUseTres">
                <option *ngFor="let item of users; let i='index'" value="i">{{item.login}}-{{item.nomUtilisateur}}
                  {{item.prenomUtilisateur}}</option>
              </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addTresCom.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!--fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!------------------------Modification------------->
<div bsModal #modTresCom="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-warning modal-lg " role="document">
        <!-----Début formulaire-->
        <form [formGroup]="modTresComGroup" (ngSubmit)="modifieTresCom()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modifier trésorier(ère) communal(e)</h4>
                    <button type="button" class="close" (click)="fermeMod()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <!-----Nom-->
                        <div class="col md-6">
                            <label class="col-md-2 col-form-label" for="modCodTres">Code</label>
                            <input type="text" id="modCodTres" class="form-control" placeholder="Code du trésorier" formControlName="modCodTres">
                        </div>
                        <div class="col md-6">
                            <label class="col-md-2 col-form-label" for="modNomTres">Nom</label>
                            <input type="text" id="modNomTres" class="form-control" placeholder="Nom de famille" formControlName="modNomTres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col md-7">
                            <label for="modPreTres">Prénoms</label>
                            <input type="text" id="modPreTres" class="form-control" placeholder="Prénoms du trésorier" formControlName="modPreTres">
                        </div>
                        <div class="col md-5">
                            <label for="modTelTres">Téléphone</label>
                            <input type="text" id="modTelTres" class="form-control" placeholder="Numéro de Téléphone" formControlName="modTelTres">
                        </div>
                    </div>
                    <div class="form-group row">
                        <!--User-->
                        <label class="col-md-3 col-form-label" for="modUseTres">Utilisateur</label>
                        <div class="col-md-12">
                            <select type="text" id="modUseTres" class="form-control" placeholder="Numéro de Téléphone" formControlName="modUseTres">
                <option *ngFor="let item of users; let i='index'" value="i">{{item.login}}-{{item.nomUtilisateur}}
                  {{item.prenomUtilisateur}} </option>
              </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="fermeMod()">Annuler</button>
                    <button type="submit" class="btn btn-warning">Modifier</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!----Fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--Modale 3-->
<div bsModal #delTresCom="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suprimer un Trésorier communal</h4>
                <button type="button" class="close" (click)="delTresCom.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes sur le point de supprimer le communal <mark style="color: red;"> {{ tresmani.idRp }} </mark></p>
                <p>Confirmez-vous votre action ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="delTresCom.hide()">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="deleteTresCom()">Supprimer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal 3 -->
