<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Stock Initial des articles au Carvaux Trésor
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button [disabled]="(carveauxTresor.codeMagasin.length===0)" class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
      [dtTrigger]="dtTrigger1" id="dataTable1">
      <thead>
        <tr>
          <th>Code Article</th>
          <th>Libellé</th>
          <th>Stock Initial</th>
          <th>Prix Unitaire</th>
          <th>Exercice</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let si of articlesByExoNotNull; let i = index">
          <td>{{ si.codeArticle }}</td>
          <td>{{ si.libArticle }}</td>
          <td>{{ si.qteStIniTres }}</td>
          <td>{{ si.puStIniTres }}</td>
          <td>{{ si.exo.codeExercice }} - {{ si.exo.libExercice }}</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditSI(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteSI(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosSI(i)"><span class="fa fa-eye"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code Article</th>
          <th>Libellé</th>
          <th>Stock Initial</th>
          <th>Prix Unitaire</th>
          <th>Exercice</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-primary" role="document">
              <form [formGroup]="addStockFormsGroup" (ngSubmit)="onSubmitAddSIFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Stock Initial</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un SI-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouveau Stock Initial au Carveaux Trésor</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addArticle">Article</label>
                              <select id="addArticle" name="addArticle" class="form-control"
                              formControlName="addArticle" (click)="articleSelected1()">
                                <option *ngFor="let article of articlesByExoNull; let i = index" [value]="i">
                                  {{ article.codeArticle }} - {{ article.libArticle }}</option>

                              </select>

                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addPrixUnit">Prix Unitaire</label>
                            <input type="number" class="form-control" id="addPrixUnit" placeholder="Prix Unitaire"
                            formControlName="addPrixUnit" [ngModel]="selectedArticle.prixVenteArticle">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addStockInit">Stock Initial (Quantité)</label>
                            <input type="number" class="form-control" id="addStockInit" placeholder="Stock Initial"
                            formControlName="addStockInit">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addDate">Date</label>
                            <input type="date" class="form-control" id="addDate"
                            formControlName="addDate">
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addStockFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning" role="document">
              <form [formGroup]="editStockFormsGroup" (ngSubmit)="onSubmitEditSIFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Stock Initial</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un SI-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier un Stock Initial au Carveaux Trésor</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editArticle">Article</label>
                              <select id="editArticle" name="editArticle" class="form-control">
                                <option>
                                  {{ editSI.codeArticle }} - {{ editSI.libArticle }}</option>

                              </select>

                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editPrixUnit">Prix Unitaire</label>
                            <input type="number" class="form-control" id="editPrixUnit" placeholder="Prix Unitaire"
                            formControlName="editPrixUnit" [ngModel]="editSI.puStIniTres">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editStockInit">Stock Initial (Quantité)</label>
                            <input type="number" class="form-control" id="editStockInit"
                            formControlName="editStockInit" [ngModel]="editSI.qteStIniTres">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editDate">Date</label>
                            <input type="date" class="form-control" id="editDate"
                            formControlName="editDate" [ngModel]="editSI.datStInitArtTres">
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editStockFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Stock Initial</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer le Stock Initial de l'Article <mark style="color: red;">{{ suprSI.codeArticle }} - {{ suprSI.libArticle }}</mark> au Carveaux Trésor</p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteSI()">Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur le SI d'un article au Carveaux Trésor</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <th>Code Article</th>
                        <td>{{ infosSI.codeArticle }}</td>
                      </tr>
                      <tr>
                        <th>Désignation</th>
                        <td>{{ infosSI.libArticle }}</td>
                      </tr>
                      <tr>
                        <th>Prix du SI</th>
                        <td>{{ infosSI.puStIniTres }}</td>
                      </tr>
                      <tr>
                        <th>Stock Initial</th>
                        <td>{{ infosSI.qteStIniTres }}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{ infosSI.datStInitArtTres }}</td>
                      </tr>
                      <tr>
                        <th>Exercice Concerné</th>
                        <td>{{ infosSI.exo.codeExercice }} - {{ infosSI.exo.libExercice }}</td>
                      </tr>
                      <tr>
                        <th>Etat de l'Exercice</th>
                        <td>{{ infosSI.exo.etatExo }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
