<tabset>
  <!--Onglet 1-->
  <tab>
    <ng-template tabHeading><i class="icon-basket-loaded"></i> Correspondants</ng-template>
    <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Liste des Correspondants
        </div>
        <div class="card-body">
          <!--Les enfants s'amusent-->
          <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
            <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
            <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
          </div>
          <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
          [dtTrigger]="dtTrigger1">
            <thead>
              <tr>
                <th>Code</th>
                <th>Nom & Prénoms </th>
                <th>Téléphone</th>
                <th>Type</th>
                <th>Imputable</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let corres of correspondants; let i = index">
                <td>{{ corres.idCorrespondant }}</td>
                <td>{{ corres.magasinier.nomMagasinier }} {{ corres.magasinier.prenomMagasinier }}</td>
                <td>{{ corres.magasinier.telMagasinier }}</td>
                <td>{{ corres.typecorres.libTypeCorres }}</td>
                <td *ngIf="corres.imputableCorres===true">OUI</td>
                <td *ngIf="corres.imputableCorres===false">NON</td>
                <td>
                  <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditCorres(i)"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteCorres(i)"><span class="fa fa-trash"></span></button>
                  <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosCorres(i)"><span class="fa fa-eye"></span></button>
                  <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                  <!--Le bouton des options-->
                  <div class="btn-group" dropdown>
                    <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" >Another action</a>
                      </li>
                      <li role="menuitem"><a class="dropdown-item" >Something else
                        here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th>Code</th>
                <th>Nom & Prénoms </th>
                <th>Téléphone</th>
                <th>Type</th>
                <th>Imputable</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>

          <!-- Les modales-->
                <!--Modale 1-->
                <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-primary" role="document">
                    <form [formGroup]="addCorresFormsGroup" (ngSubmit)="onSubmitAddCorresFormsGroup()">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Enrégistrer un Correspondant</h4>
                          <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- Formulaire pour enrégistrer un article-->
                          <div class="card">
                            <div class="card-header">
                              <strong>Nouveau Correspondant</strong>

                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="form-group col-sm-2">
                                  <label for="addIdCorrespondant">Code</label>
                                  <input type="text" class="form-control" id="addIdCorrespondant"
                                  formControlName="addIdCorrespondant" placeholder="Code du correspondant">
                                </div>
                                <div class="form-group col-sm-4">
                                  <label for="addNomMagasinier">Nom</label>
                                  <input type="text" class="form-control" id="addNomMagasinier"
                                  formControlName="addNomMagasinier" placeholder="Nom du Correspondant">
                                </div>
                                <div class="form-group col-sm-6">
                                  <label for="addPrenomMagasinier">Prénoms</label>
                                  <input type="text" class="form-control" id="addPrenomMagasinier"
                                  formControlName="addPrenomMagasinier" placeholder="Prénoms du Correspondant">
                                </div>
                              </div><!--/.row-->
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <label for="addTelMagasinier">Téléphone</label>
                                  <input type="number" class="form-control" id="addTelMagasinier"
                                  formControlName="addTelMagasinier" placeholder="Téléphone du Correspondant">
                                </div>
                                <div class="form-group col-sm-6">
                                  <label for="addTypCorres">Type</label>
                                    <select id="addTypCorres" name="addTypCorres" class="form-control"
                                    formControlName="addTypCorres" >
                                      <option *ngFor="let typCo of typCorrespondants; let i = index" [value]="i">{{ typCo.libTypeCorres }}</option>

                                    </select>

                                </div>
                              </div><!--/.row-->
                              <div class="row">

                                <div class="form-group col-sm-6">
                                  <label for="addUtilisateur">Utilisateur</label>
                                    <select id="addUtilisateur" name="addUtilisateur" class="form-control"
                                    formControlName="addUtilisateur">
                                      <option *ngFor = "let user of utilisateurs; let i = index" [value]="i">
                                        {{ user.idUtilisateur }} - {{ user.nomUtilisateur }} {{ user.prenomUtilisateur }}
                                      </option>

                                    </select>
                                </div>
                              </div><!--/.row-->
                              <div class="form-group row">
                                <div class="col-md-12 col-form-label">
                                  <div class="form-check form-check-inline mr-3">
                                    <input class="form-check-input" type="checkbox" id="addImputableCorres"
                                    formControlName="addImputableCorres">
                                    <label class="form-check-label" for="addImputableCorres">Imputable</label>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                          <button type="submit" class="btn btn-primary">Enrégistrer</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </form>

                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal 1 -->

                <!--Modale 2-->
                <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-warning modal-lg" role="document">
                    <form [formGroup]="editCorresFormsGroup" (ngSubmit)="onSubmitEditCorresFormsGroup()">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Modifier Un Correspondant</h4>
                          <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- Formulaire pour modifier un Correspondant-->
                          <div class="card">
                            <div class="card-header">
                              <strong>Modifier Correspondant</strong>

                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="form-group col-sm-2">
                                  <label for="editIdCorrespondant">Code</label>
                                  <input type="text" class="form-control" id="editIdCorrespondant"
                                  formControlName="editIdCorrespondant" placeholder="Code de l'article"
                                  [ngModel]="infosCorres.idCorrespondant">
                                </div>
                                <div class="form-group col-sm-4">
                                  <label for="editNomMagasinier">Nom</label>
                                  <input type="text" class="form-control" id="editNomMagasinier"
                                  formControlName="editNomMagasinier" placeholder="Nom du Correspondant"
                                  [ngModel]="infosCorres.magasinier.nomMagasinier">
                                </div>
                                <div class="form-group col-sm-6">
                                  <label for="editPrenomMagasinier">Prénoms</label>
                                  <input type="text" class="form-control" id="editPrenomMagasinier"
                                  formControlName="editPrenomMagasinier" placeholder="Prénoms du Correspondant"
                                  [ngModel]="infosCorres.magasinier.prenomMagasinier">
                                </div>
                              </div><!--/.row-->
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <label for="editTelMagasinier">Téléphone</label>
                                  <input type="number" class="form-control" id="editTelMagasinier"
                                  formControlName="editTelMagasinier" placeholder="Téléphone du Correspondant"
                                  [ngModel]="infosCorres.magasinier.telMagasinier">
                                </div>
                                <div class="form-group col-sm-6">
                                  <label for="editTypCorres">Type</label>
                                    <select id="editTypCorres" name="editTypCorres" class="form-control"
                                    formControlName="editTypCorres">
                                    <option *ngFor="let typCo of typCorrespondants; let i = index" [value]="i">{{ typCo.libTypeCorres }}</option>

                                    </select>

                                </div>
                              </div><!--/.row-->
                              <div class="row">

                                <div class="form-group col-sm-6">
                                  <label for="editUtilisateur">Utilisateur</label>
                                    <select id="editUtilisateur" name="editUtilisateur"
                                    formControlName="editUtilisateur" class="form-control">
                                    <option *ngFor = "let user of utilisateurs; let i = index" [value]="i">
                                      {{ user.idUtilisateur }} - {{ user.nomUtilisateur }} {{ user.prenomUtilisateur }}
                                    </option>
                                    </select>
                                </div>
                              </div><!--/.row-->
                              <div class="form-group row">
                                <div class="col-md-12 col-form-label">
                                  <div class="form-check form-check-inline mr-3">
                                    <input class="form-check-input" type="checkbox" id="editImputableCorres"
                                    formControlName="editImputableCorres" [ngModel]="infosCorres.imputableCorres">
                                    <label class="form-check-label" for="editImputableCorres">Imputable</label>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                          <button type="submit" class="btn btn-warning">Modifier</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </form>

                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal 2 -->

                <!--Modale 3-->
                <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-danger" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Suprimmer Un Correspondant</h4>
                        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Vous êtes sur le point de supprimer le Correspondant <mark style="color: red;">{{ suprCorres.idCorrespondant }}</mark></p>
                        <p>Le confirmez-vous ?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                        <button type="button" class="btn btn-danger" (click)="onConfirmDeleteCorres()">Supprimer</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal 3 -->

                <!--Modale 4-->
                <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-info modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Détail Sur Correspondant</h4>
                        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <table class="table table-striped">

                          <tbody>
                            <tr>
                              <th>Code</th>
                              <td>{{ infosCorres.idCorrespondant }}</td>
                            </tr>
                            <tr>
                              <th>Nom & Prénoms</th>
                              <td>{{ infosCorres.magasinier.nomMagasinier }} {{ infosCorres.magasinier.prenomMagasinier }}</td>
                            </tr>
                            <tr>
                              <th>Téléphone</th>
                              <td>{{ infosCorres.magasinier.telMagasinier }}</td>
                            </tr>
                            <tr>
                              <th>Type</th>
                              <td>{{ infosCorres.typecorres.libTypeCorres }}</td>
                            </tr>
                            <tr>
                              <th>Imputable</th>
                              <td *ngIf="infosCorres.imputableCorres===true" >OUI</td>
                              <td *ngIf="infosCorres.imputableCorres===false" >NON</td>
                            </tr>
                            <tr>
                              <th>Utilisateur</th>
                              <td>{{ infosCorres.utilisateur.idUtilisateur }} - {{ infosCorres.utilisateur.nomUtilisateur }}</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal 4 -->
        </div>
    </div>
  </tab>

  <!--Onglet 2-->
  <tab>
    <ng-template tabHeading><i class="icon-basket-loaded"></i> Associer à un Site</ng-template>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste Affectations des Correspondants aux Sites
      </div>
      <div class="card-body">
        <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
          <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal2.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
          <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
        </div>
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2">
          <thead>
            <tr>
              <th>Code</th>
              <th>Correspondant</th>
              <th>Site</th>
              <th>Date de Début d'Affectation</th>
              <th>Date de Fin d'Affectation</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ertreAffect of etreAffectes; let i = index" >
              <td>{{ ertreAffect.idAffecte }}</td>
              <td>{{ ertreAffect.corres.idCorrespondant }} - {{ ertreAffect.corres.magasinier.prenomMagasinier }} Salim</td>
              <td>{{ ertreAffect.site.codeSite }} - {{ ertreAffect.site.libSite }}</td>
              <td>{{ ertreAffect.dateArrivee }}</td>
              <td>{{ ertreAffect.dateDepart }}</td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditEtreAffecte(i)"><span class="fa fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteEtreAffecte(i)"><span class="fa fa-trash"></span></button>

                <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                <!--Le bouton des options-->
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" >Another action</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" >Something else
                      here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Code</th>
              <th>Correspondant</th>
              <th>Site</th>
              <th>Date de Début d'Affectation</th>
              <th>Date de Fin d'Affectation</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>


        <!-- Les modales-->
              <!--Modale 1-->
              <div bsModal #primaryModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-primary" role="document">
                  <form [formGroup]="addAffecteSiteFormsGroup" (ngSubmit)="onSubmitAddEtreAffecte()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Enrégistrer une Affectation d'un Correspondant</h4>
                        <button type="button" class="close" (click)="primaryModal2.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Enrégistrer une Affection d'un Correspondant à un Site-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Nouvelle Affectation</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addCorres">Correspondant</label>
                                  <select id="addCorres" name="addCorres" class="form-control"
                                  formControlName="addCorres">
                                    <option *ngFor="let corre of correspondants; let i = index" [value]="i">
                                      {{ corre.idCorrespondant }} - {{ corre.magasinier.nomMagasinier }} {{ corre.magasinier.prenomMagasinier }}</option>
                                  </select>

                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addSite">Site</label>
                                  <select id="addSite" name="addSite" class="form-control"
                                  formControlName="addSite">
                                    <option *ngFor="let sit of sites; let i = index" [value]="i">
                                      {{ sit.codeSite }} - {{ sit.libSite }}
                                    </option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addDateArrivee">Date de début</label>
                                <input type="date" class="form-control" id="addDateArrivee"
                                formControlName="addDateArrivee" placeholder="Date de Début de l'Affectation">
                              </div>

                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addDateDepart">Date de Fin</label>
                                <input type="date" class="form-control" id="addDateDepart"
                                formControlName="addDateDepart" placeholder="Date de Fin de l'Affectation">
                              </div>

                            </div><!--/.row-->

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="primaryModal2.hide()">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addAffecteSiteFormsGroup.invalid">Enrégistrer</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 1 -->

              <!--Modale 2-->
              <div bsModal #warningModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-warning" role="document">
                  <form [formGroup]="editAffecteSiteFormsGroup" (ngSubmit)="onSubmitEditEtreAffecte()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modifier Une Affectation</h4>
                        <button type="button" class="close" (click)="warningModal2.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour Modifier Affectation d'un Correspondant à un Site-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Modifier Affectation</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editCorres">Correspondant</label>
                                  <select id="editCorres" name="editCorres" class="form-control"
                                  formControlName="editCorres">
                                  <option *ngFor="let corre of correspondants; let i = index" [value]="i">
                                    {{ corre.idCorrespondant }} - {{ corre.magasinier.nomMagasinier }} {{ corre.magasinier.prenomMagasinier }}</option>
                                  </select>

                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editSite">Site</label>
                                  <select id="editSite" name="editSite" class="form-control"
                                  formControlName="editSite">
                                  <option *ngFor="let sit of sites; let i = index" [value]="i">
                                    {{ sit.codeSite }} - {{ sit.libSite }}
                                  </option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editDateArrivee">Date de début</label>
                                <input type="date" class="form-control" id="editDateArrivee"
                                formControlName="editDateArrivee" placeholder="Date de Début de l'Affectation"
                                [ngModel]="editEtreAffecte.dateArrivee">
                              </div>

                            </div><!--/.row-->
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editDateDepart">Date de Fin</label>
                                <input type="date" class="form-control" id="editDateDepart"
                                formControlName="editDateDepart" placeholder="Date de Fin de l'Affectation"
                                [ngModel]="editEtreAffecte.dateDepart">
                              </div>

                            </div><!--/.row-->

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="warningModal2.hide()">Annuler</button>
                        <button type="submit" class="btn btn-warning" [disabled]="editAffecteSiteFormsGroup.invalid">Modifier</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 2 -->

              <!--Modale 3-->
              <div bsModal #dangerModal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suprimmer Une Affectation</h4>
                      <button type="button" class="close" (click)="dangerModal2.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Vous êtes sur le point de supprimer l'Affectation du Correspondant <mark style="color: red;">{{ suprEtreAffecte.corres.idCorrespondant }}</mark>
                      au Site <mark style="color: green;">{{ suprEtreAffecte.site.codeSite }}</mark></p>
                      <p>Le confirmez-vous ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal2.hide()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="onConfirmDeleteEtreAffecte()">Supprimer</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 3 -->


      </div>
    </div>
  </tab>
</tabset>
