<div class="accordion" id="accordion" role="tablist">
  <div class="card mb-0">
    <div class="card-header" id="headingOne" role="tab" (click)="manageCollapses(1)">
      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">Situation d'un contrat</a></h5>
    </div>
    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 1,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
    <div class="card-body">
        <form [formGroup]="locaGroup">
            <div class="row">
                <div class="col-6">
                    <label for="loca">Locataire : </label>
                    <select id="loca" class="form-control" formControlName="loca" aria-readonly="false" (click)="filtreContrat()">
                      <option value="-1">Sélectionner le locataire</option>
                        <option *ngFor="let item of locataires; let i=index" [value]="i">{{item.identiteLocataire}}</option>
        </select>
                </div>
                <div class="col-6">
                    <label for="cont">Contrat N° : </label>
                    <select id="cont" class="form-control" formControlName="cont">
                      <option value="-1">Tous les contrats</option>
        <option *ngFor="let item of contLoc; let i=index" [value]="i">{{item.numContrat}} - {{item.immeuble.libIm}} </option>
        </select>
                </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-xl-5">
                <button type="button" class="btn btn-secondary" (click)="affichePaiement()">Afficher l'historique de paiement</button>
              </div>
              <div class="col-xl-2"></div>
              <div class="col-xl-5">
                <button type="button" class="btn btn-secondary" (click)="afficheImpayes()">Afficher les impayés</button>
              </div>
            </div>
        </form>
    </div>
   
    </div>
  </div>

  <div class="card mb-0">
    <div class="card-header" id="headingTwo" role="tab" (click)="manageCollapses(2)">
      <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">Récapitulatif des impayés par Arrondissement</a></h5>
    </div>
    <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 2,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
    <div class="card-body">
        <form [formGroup]="imGroup">
            <div class="row">
                <!--div class="col-4">
                    <label for="typVlA">type : </label>
                    <select id="typVlA" class="form-control" formControlName="typVlA">
            <option [value]="-1">Tous les types</option>
            <option *ngFor="let item of typesVL; let i=index" [value]="i">{{item.libTypIm}}</option>
          </select>
                </div-->
                <div class="col-4">
                    <label for="arrond">Arrondissement : </label>
                    <select id="arrond" class="form-control" formControlName="arrond">
            <option [value]="-1">Tous les arrondissements</option>
            <option *ngFor="let item of arrondissements; let i=index" [value]="i">{{item.nomArrondi}}</option>
          </select>
                </div>
                <!--div class="col-4">
                    <label for="sit">Site : </label>
                    <select id="sit" class="form-control" formControlName="sit">
            <option [value]="-1">Tous les sites</option>
            <option *ngFor="let item of aSites; let i=index" [value]="i">{{item.libSite}}</option>
          </select>
                </div>
                <div class="col-4">
                    <label for="val">Site : </label>
                    <select id="val" class="form-control" formControlName="val">
            <option [value]="-1">Choisir la valeur locative</option>
            <option *ngFor="let item of aSites; let i=index" [value]="i">{{item.libSite}}</option>
          </select>
                </div-->
            </div>
            <br><br>
            <div class="row">
                <button type="button" class="btn btn-secondary" (click)="Statut()">Afficher les impayés</button>
            </div>
        </form>
    </div>
    </div>
  </div>

  <div class="card mb-0">
    <div class="card-header" id="headingThree" role="tab" (click)="manageCollapses(3)">
      <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">Point des locations par arrondissements</a></h5>
    </div>
    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 3,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
      <div class="card-body">
        <form [formGroup]="locaGroup">
            <!--div class="row">
                <div class="col-6">
                    <label for="arro">Arrondissement N° : </label>
                    <select id="arro" class="form-control" formControlName="arro">
                      <option value="-1">Tous les arrondissements</option>
        <option *ngFor="let item of arrondissements; let i=index" [value]="i">{{item.codeArrondi}} - {{item.libeArrondi}} </option>
        </select>
                </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-xl-5">
                <button type="button" class="btn btn-secondary" (click)="afficheimpaye()">Afficher l'historique de paiement</button>
              </div>
              <div class="col-xl-2"></div>
            </div-->
        </form>
      </div>
    </div>
  </div>
</div>

        <!----------------------------------------Apperçu------------------------------------------->
        <div bsModal #appercu="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="money" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-primary" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title text-center">Apperçu</h4>
                      <button type="button" class="close" (click)="appercu.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <iframe class="col" [src]="vuePdf" style="height: 400px;" frameborder="0"></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>