<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Contrats de Location
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
    [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Date de Signature</th>
          <th>Date d'effet</th>
          <th>Identité du Locataire</th>
          <th>Valeur Locative</th>
          <th>Avance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrat of contrats; let i = index" >
          <td>{{ contrat.numContrat }}</td>
          <td>{{ contrat.dateSignatureContrat | date:"dd-MM-yyyy" }}</td>
          <td>{{ contrat.dateEffetContrat | date:"dd-MM-yyyy" }}</td>
          <td>{{ contrat.locataire.identiteLocataire }}</td>
          <td>{{ contrat.immeuble.codeIm }} - {{ contrat.immeuble.libIm }}</td>
          <td>{{ contrat.avanceContrat }}</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditContrat(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteContrat(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfoContrat(i)"><span class="fa fa-eye"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Date de Signature</th>
          <th>Date d'effet</th>
          <th>Identité du Locataire</th>
          <th>Valeur Locative</th>
          <th>Avance</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>

    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <form [formGroup]="addContratFormsGroup" (ngSubmit)="onSubmitAddContratFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Contrat</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un Contrat de Location-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouveau Contrat de Location</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="addNumContrat">Code</label>
                            <input type="text" class="form-control" id="addNumContrat"
                            autocomplete="off" formControlName="addNumContrat" placeholder="Code du Contrat">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="addDateSignatureContrat">Date de Signature</label>
                            <input type="date" class="form-control" id="addDateSignatureContrat"
                            formControlName="addDateSignatureContrat" placeholder="Date de Signature du Contrat">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="addDateEffetContrat">Date d'Effet</label>
                            <input type="date" class="form-control" id="addDateEffetContrat"
                            formControlName="addDateEffetContrat" placeholder="Date d'Effet du Contrat">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="addDateFinContrat">Date de Fin</label>
                            <input type="date" class="form-control" id="addDateFinContrat"
                            formControlName="addDateFinContrat" >
                          </div>
                          <div class="form-group col-sm-8">
                            <label for="addLocataire">Identité du Locataire</label>
                            <select id="addLocataire" name="addLocataire" class="form-control"
                            formControlName="addLocataire">
                              <option *ngFor="let locataire of locataires; let i = index" [value]="i"
                              >{{ locataire.idLocataire }} - {{ locataire.identiteLocataire }}</option>

                            </select>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="addIndeTypeIm">Type de la Valeur Locative</label>
                            <select id="addIndeTypeIm" name="addIndeTypeIm" formControlName="addIndeTypeIm" class="form-control" (click)="onTypeImmeubleClicked1()">
                              <option *ngFor="let typeIm of typeValeursLocatives; let i = index" [value]="i"
                              >{{ typeIm.codeTypIm }} - {{ typeIm.libTypIm }}</option>
                            </select>
                          </div>
                          <div class="form-group col-sm-8">
                            <label for="addImmeuble">Valeur Locative</label>
                            <select id="addImmeuble" name="addImmeuble" class="form-control"
                            formControlName="addImmeuble">
                              <option *ngFor="let imm of valeurLocativesByType; let i = index" [value]="i"
                              >{{ imm.codeIm }} - {{ imm.libIm }}</option>
                            </select>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addAvanceContrat">Avance (en Francs CFA)</label>
                            <input type="number" class="form-control" id="addAvanceContrat"
                            formControlName="addAvanceContrat" placeholder="Avance du Contrat">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addCautionContrat">Caution (en Francs CFA)</label>
                            <input type="number" class="form-control" id="addCautionContrat"
                            formControlName="addCautionContrat" placeholder="Caution du Contrat">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addContratFormsGroup.invalid || valeurLocativesByType.length == 0 || locataires.length == 0" >Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning modal-lg" role="document">
              <form [formGroup]="editContratFormsGroup" (ngSubmit)="onSubmitEditContratFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Contrat</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un article-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier Un Contrat de Location</strong>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="editNumContrat">Code</label>
                            <input type="text" class="form-control" id="editNumContrat" readonly="true"
                            formControlName="editNumContrat" placeholder="Code du Contrat"
                            [ngModel]="editContrat.numContrat">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="editDateSignatureContrat">Date de Signature</label>
                            <input type="date" class="form-control" id="editDateSignatureContrat"
                            formControlName="editDateSignatureContrat" placeholder="Date de Signature du Contrat"
                            [ngModel]="editContrat.dateSignatureContrat">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="editDateEffetContrat">Date d'Effet</label>
                            <input type="date" class="form-control" id="editDateEffetContrat"
                            formControlName="editDateEffetContrat" placeholder="Date d'Effet du Contrat"
                            [ngModel]="editContrat.dateSignatureContrat">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="editDateFinContrat">Date de Fin</label>
                            <input type="date" class="form-control" id="editDateFinContrat"
                            formControlName="editDateFinContrat" >
                          </div>
                          <div class="form-group col-sm-12">
                            <label for="editLocataire">Identité du Locataire</label>
                            <select id="editLocataire" name="editLocataire" class="form-control"
                            formControlName="editLocataire">
                              <option *ngFor="let locataire of locataires; let i = index" [value]="i"
                              >{{ locataire.idLocataire }} - {{ locataire.identiteLocataire }}</option>

                            </select>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-4">
                            <label for="typeValeurLocative2">Type de la Valeur Locative</label>
                            <select id="typeValeurLocative2" name="typeValeurLocative2" class="form-control" (click)="onTypeImmeubleClicked2()">
                              <option *ngFor="let typeIm of typeValeursLocatives; let i = index" [value]="i"
                              >{{ typeIm.codeTypIm }} - {{ typeIm.libTypIm }}</option>
                            </select>
                          </div>
                          <div class="form-group col-sm-8">
                            <label for="editImmeuble">Valeur Locative</label>
                            <select id="editImmeuble" name="editImmeuble" class="form-control"
                            formControlName="editImmeuble">
                              <option *ngFor="let imm of valeurLocativesByType2; let i = index" [value]="i"
                              >{{ imm.codeIm }} - {{ imm.libIm }}</option>
                            </select>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="editAvanceContrat">Avance (en Francs CFA)</label>
                            <input type="number" class="form-control" id="editAvanceContrat"
                            formControlName="editAvanceContrat" placeholder="Avance du Contrat"
                            [ngModel]="editContrat.avanceContrat">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editCautionContrat">Caution (en Francs CFA)</label>
                            <input type="number" class="form-control" id="editCautionContrat"
                            formControlName="editCautionContrat" placeholder="Caution du Contrat"
                            [ngModel]="editContrat.cautionContrat">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editContratFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Contrat</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer le Contrat de Location <mark style="color: red;">{{ suprContrat.numContrat }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteContrat()">Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Contrat de Location</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>{{ infosContrat.numContrat }}</td>
                      </tr>
                      <tr>
                        <th>Date de Signature</th>
                        <td>{{ infosContrat.dateSignatureContrat }}</td>
                      </tr>
                      <tr>
                        <th>Date d'Effet</th>
                        <td>{{ infosContrat.dateEffetContrat }}</td>
                      </tr>
                      <tr>
                        <th>Avance (en Francs CFA)</th>
                        <td>{{ infosContrat.avanceContrat }}</td>
                      </tr>
                      <tr>
                        <th>Caution (en Francs CFA)</th>
                        <td>{{ infosContrat.cautionContrat }}</td>
                      </tr>
                      <tr>
                        <th>Code de la Valaur Locative</th>
                        <td>{{ infosContrat.immeuble.codeIm }}</td>
                      </tr>
                      <tr>
                        <th>Désignation de la Valeur Locative</th>
                        <td>{{ infosContrat.immeuble.libIm }}</td>
                      </tr>
                      <tr>
                        <th>Arrondissement</th>
                        <td>{{ infosContrat.immeuble.arrondissement.nomArrondi }}</td>
                      </tr>
                      <tr>
                        <th>Quartier de la Valeur</th>
                        <td>{{ infosContrat.immeuble.quartier.nomQuartier }}</td>
                      </tr>
                      <tr>
                        <th>Site de la Valaur Locative</th>
                        <td>{{ infosContrat.immeuble.siteMarcher.libSite }}</td>
                      </tr>
                      <tr>
                        <th>Code du Locataire</th>
                        <td>{{ infosContrat.locataire.idLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Identité du Locataire</th>
                        <td>{{ infosContrat.locataire.identiteLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Téléphone du Locataire</th>
                        <td>{{ infosContrat.locataire.telLocataire }}</td>
                      </tr>
                      <tr>
                        <th>Adresse du Locataire</th>
                        <td>{{ infosContrat.locataire.adresseLocataire }}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
