<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Listes des Recollements
    </div>
    <div class="card-body">
      <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
        <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="initAddRecollement()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
        <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
      </div>
  
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1" 
        [dtTrigger]="dtTrigger1" id="RecollDataTable">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Date </th>
                    <th>Description</th>
                    <th>Magasin Source</th>
                    <th>Magasin Destinataire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recoll of recollement; let i = index">
                    <td>{{ recoll.numRecollement }}</td>
                    <td>{{ recoll.dateRecollement | date : "dd/MM/y" }}</td>
                    <td>{{ recoll.descriptionRecollement }}</td>
                    <td>{{ recoll.magasinSource.codeMagasin }} - {{ recoll.magasinSource.libMagasin }} </td>
                    <td>{{  recoll.magasinDestination.codeMagasin }} - {{ recoll.magasinDestination.libMagasin }} </td> 
                    <td>
                        <button class="btn btn-warning btn-sm"  data-toggle="modal" (click)="initEditRecollement(i)"><span class="fa fa-edit"></span></button>
                        <button *ngIf="!recoll.valideRecol" class="btn btn-danger btn-sm"  data-toggle="modal" (click)="initDeleteRecollement(i)"><span class="fa fa-trash"></span></button>
                        <button *ngIf="recoll.valideRecol" class="btn btn-info btn-sm" data-toggle="modal" (click)="initAnnulerRecollement(i)"><span class="fa fa-undo"></span></button>
                        <button class="btn btn-dark btn-sm" (click)="initPrintPdfOfRecollement(i)"><span class="fa fa-file-o"></span></button>
                        <!--Le bouton des options-->
                        <div class="btn-group" dropdown>
                          <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" >Another action</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" >Something else
                              here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                            </li>
                          </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Numéro</th>
                    <th>Date </th>
                    <th>Description</th>
                    <th>Magasin Source</th>
                    <th>Magasin Destinataire</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
  
    <!--Modal add-->
        <div bsModal #addComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-primary modal-xl" role="document">
              <form [formGroup]="addRecollementFormGroup" (ngSubmit)="onSubmitAddRecollementFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Ajouter un Recollement</h4>
                      <button type="button" class="close" (click)="addComModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="form-group col-sm-4">
                        <label for="addNumRecoll">Numéro</label>
                        <input type="text" class="form-control" id="addNumRecoll" readonly="true"
                          formControlName="addNumRecoll" placeholder="Numéro du point" autocomplete="off">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="addDateRecoll">Date</label>
                        <input type="date" class="form-control" id="addDateRecoll"
                         formControlName="addDateRecoll">
                      </div>

                      <div class="form-group col-sm-4">
                        <label for="addDesRecoll">Description</label>
                        <input type="text" class="form-control" id="addDesRecoll"
                         formControlName="addDesRecoll" autocomplete="off">
                      </div>
  
                    </div><!--/.row-->
  
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label for="addMagasinSource">Magasin source</label>
                          <select id="addMagasinSource" name="addMagasinSource" class="form-control"
                          formControlName="addMagasinSource" (click)="getMagasinDest()">
                            <option *ngFor="let mag of magasin; let i = index" [value]="i">
                              {{ mag.codeMagasin }} - {{ mag.libMagasin }}
                            </option>
                          </select>
                          <!--select id="addMag" name="addMag" class="form-control"
                          formControlName="addMag">
                            <option *ngFor="let corres of coresp; let i = index" [value]="i">
                              {{ corres.idCorrespondant }} - {{ corres.magasinier.nomMagasinier }} {{ corres.magasinier.prenomMagasinier }}
                            </option>
                            <option  [value]="CM"> Carveaux Mairie </option>
                          </select-->
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="addMagasinDestination">Magasin destinataire</label>
                        <select id="addMagasinDestination" name="addMagasinDestination" class="form-control"
                        formControlName="addMagasinDestination" disabled>
                          <option *ngFor="let regTre of magasinMairieTresor; let i = index" [value]="i">
                            {{ regTre.codeMagasin }} - {{ regTre.libMagasin }} 
                          </option>
                        </select>
                        <!--input type="text" class="form-control" id="addRegiConcerned" readonly
                        [ngModel]="concernedRegisse.idRegisseur.concat(' - '.concat(concernedRegisse.magasinier.nomMagasinier.concat(' '.concat(concernedRegisse.magasinier.prenomMagasinier.valueOf()))))" placeholder="Régisseur Concerné"
                         [ngModelOptions]="{standalone: true}"-->

                      </div>
                    </div><!--/.row-->
                    <div class="row">
                      <button type="button" data-toggle="modal" (click)="onShowAddArticleModalAddingRecollement()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-striped table-lg">
                          <thead>
                            <tr>
                              <th>Code Article</th>
                              <th>Libellé de l'Article</th>
                              <th>Prix Unit.</th>
                              <th>Quantité</th>
                              <th>Montant</th>
                              <th>Observation</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let addLignRecoll of tempAddLigneRecollement; let i = index">
                              <td>{{ addLignRecoll.article.codeArticle  }}</td>
                              <td>{{ addLignRecoll.article.libArticle }}</td>
                              <td><input [(ngModel)]="tempAddLigneRecollement[i].puligneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="number"  ></td>
                              <td><input [(ngModel)]="tempAddLigneRecollement[i].quantiteLigneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                              <td>{{ (tempAddLigneRecollement[i].quantiteLigneRecollement*tempAddLigneRecollement[i].puligneRecollement) }}</td>
                              <td><input [(ngModel)]="tempAddLigneRecollement[i].observationLigneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="text" ></td>
                              <td>
                                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleAddingOfRecollement(i)"><span class="fa fa-trash"></span></button>
                              </td>
                            </tr>
    
                          </tbody>
                        </table>
                      </div>
  
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="addComModal.hide()">Annuler</button>
                      <button type="submit" class="btn btn-primary" [disabled]="addRecollementFormGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>
  
            </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
    <!--Modal edit-->
    <div bsModal #editComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-warning modal-xl" role="document">
          <form [formGroup]="editRecollementFormGroup" (ngSubmit)="onSubmitEditRecollementFormsGroup()">
            <div class="modal-content">
              <div class="modal-header">
              <h4 class="modal-title">Modifer un Recollement</h4>
              <button type="button" class="close" (click)="editComModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="editNumRecoll">Numéro</label>
                      <input type="text" class="form-control" id="editNumRecoll"
                        formControlName="editNumRecoll" placeholder="Numéro de recollement" 
                        [ngModel]="editRecollement.numRecollement" readonly autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="editDateRecoll">Date</label>
                      <input type="date" class="form-control" id="editDateRecoll"
                       formControlName="editDateRecoll" [ngModel]="editRecollement.dateRecollement" autocomplete="off">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="editDesRecoll">Description</label>
                      <input type="text" class="form-control" id="editDesRecoll"
                       formControlName="editDesRecoll" [ngModel]="editRecollement.descriptionRecollement" autocomplete="off">
                    </div>

                  </div><!--/.row-->

                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="editMagasinSource">Magasin Source</label>
                        <!--select id="editMagasinSource" name="editMagasinSource" class="form-control"
                        formControlName="editMagasinSource">
                          <option *ngFor="let mag of magasin; let i = index" [value]="i">
                            {{ mag.codeMagasin }} - {{ mag.libMagasin }}
                          </option>
                        </select-->
                        <input type="text" class="form-control" id="editMagasinSource" readonly="true"
                        formControlName="editMagasinSource" [ngModel]="editRecollement.magasinSource.codeMagasin.concat(' - '.concat(editRecollement.magasinSource.libMagasin)) " autocomplete="off">
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="editMagasinDestination">Magasin Destinataire</label>
                      <!--select id="editMagasinDestination" name="editMagasinDestination" class="form-control"
                      formControlName="editMagasinDestination">
                        <option *ngFor="let regTre of magasinMairieTresor; let i = index" [value]="i">
                          {{ regTre.codeMagasin }} - {{ regTre.libMagasin }} 
                        </option>
                      </select-->
                      <input type="text" class="form-control" id="editMagasinDestination" readonly="true"
                      formControlName="editMagasinDestination" [ngModel]="editRecollement.magasinDestination.codeMagasin.concat(' - '.concat(editRecollement.magasinDestination.libMagasin)) " autocomplete="off">
                    </div>
                  </div><!--/.row-->
                  <div class="row">
                    <button type="button" data-toggle="modal" (click)="onShowAddArticleModalEditingRecollement()" class="btn btn-success col-sm-12">Ajouter une ligne</button>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-striped table-lg">
                        <thead>
                          <tr>
                            <th>Code Article</th>
                            <th>Libellé de l'Article</th>
                            <th>Prix Unit.</th>
                            <th>Quantité</th>
                            <th>Montant</th>
                            <th>Observation</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let editLignRecoll of tempEditLigneRecollement; let i = index">
                            <td>{{ editLignRecoll.article.codeArticle  }}</td>
                            <td>{{ editLignRecoll.article.libArticle }}</td>
                            <td><input [(ngModel)]="tempEditLigneRecollement[i].puligneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="number"  ></td>
                            <td><input [(ngModel)]="tempEditLigneRecollement[i].quantiteLigneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="number" ></td>
                            <td>{{ (tempEditLigneRecollement[i].quantiteLigneRecollement*tempEditLigneRecollement[i].puligneRecollement) }}</td>
                            <td><input [(ngModel)]="tempEditLigneRecollement[i].observationLigneRecollement" [ngModelOptions]="{standalone: true}" class="form-control" type="text" ></td>
                            <td>
                              <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="popArticleEditingOfRecollement(i)"><span class="fa fa-trash"></span></button>
                            </td>
                          </tr>
  
                        </tbody>
                      </table>
                    </div>

                </div>
               
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="editComModal.hide()">Annuler</button>
              <button type="submit" class="btn btn-warning" [disabled]="editRecollementFormGroup.invalid">Modifier</button>
              </div>
            </div><!-- /.modal-content -->
          </form>
  
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
    <!--Modal delete-->
  
    <div bsModal #deleteComModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-center">Supprimer un Recollement</h4>
            <button type="button" class="close" (click)="deleteComModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <p>Vous êtes sur le point de supprimer le point de vente <mark style="color: red;">{{ suprRecollement.numRecollement }}</mark></p>
              <p>Le confirmez-vous ?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="deleteComModal.hide()">Annuler</button>
            <button type="button" class="btn btn-danger" (click)="onConfirmDeleteRecollement()">Supprimer</button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
    <!--Modal de selection d'Article pour ajout de Reception-->
    <div bsModal #addArticle1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sélectionner les articles</h4>
            <button type="button" class="close" (click)="addArticle1.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
  
              <div class="card" style="margin: 0;">
                <div class="card-body">
                  <table class="table table-striped" id="tabListArt1"
                   datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2">
                    <thead>
                      <tr>
                        <th>Code</th>
                        <th>Libellé</th>
                        <th>Prix unitaire</th>
                        <th>Choix?</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let articl of articles; let i = index">
                        <td>{{ articl.codeArticle }}</td>
                        <td>{{ articl.libArticle }}</td>
                        <td>{{ articl.prixVenteArticle }}</td>
                        <td>
                          <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                             (click)="addArticleForAddingOfRecollement(i)"></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="addArticle1.hide()">Ok</button>
  
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  
     <!--Modal de selection d'Article pour edition de Reception-->
     <div bsModal #addArticle2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sélectionner les articles</h4>
            <button type="button" class="close" (click)="addArticle2.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
  
              <div class="card" style="margin: 0;">
                <div class="card-body">
                  <table class="table table-striped" id="tabListArt2"
                  datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Libellé</th>
                      <th>Prix unitaire</th>
                      <th>Choix?</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let articl of articles; let i = index">
                      <td>{{ articl.codeArticle }}</td>
                      <td>{{ articl.libArticle }}</td>
                      <td>{{ articl.prixVenteArticle }}</td>
                      <td>
                        <p style="text-align: center;"><input class="form-check-input" type="checkbox"
                           (click)="addArticleForEditingOfRecollement(i)"></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="addArticle2.hide()">Ok</button>
  
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div bsModal #viewPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-success modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-center">Apperçu</h4>
            <button type="button" class="close" (click)="viewPdfModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <iframe class="col" [src]='pdfToShow' frameborder="0" style="height: 400px;"></iframe>
              </div>
  
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="viewPdfModal.hide()">Fermer</button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  
  
  
    </div>
  </div>

  <!--Modale annuler Point vente-->
<div bsModal #annulerRecollementModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-secondary" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title text-center">Annuler un recollement</h4>
        <button type="button" class="close" (click)="annulerRecollementModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <p>Vous êtes sur le point d'annuler le recollement<mark style="color: red;">{{ annulRecollement.numRecollement }}</mark></p>
          <p>Le confirmez-vous ?</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="annulerRecollementModal.hide()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmAnnulerRecollement()">Valider</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



  