<div class="accordion" id="accordion" role="tablist">
  <div class="card mb-0">
    <div class="card-header" id="headingOne" role="tab" (click)="manageCollapses(1)">
      <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">Cumul des Recettes par Prestation</a></h5>
    </div>
    <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 1,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
      <div class="card-body">
        <form [formGroup] = "repport1FormsGroup" (ngSubmit)="onRep1GenerateClicked()">
          <div class="row">
            <div class="form-group col-sm-3">
              <label for="rep1Caisse">Caisse</label>
                <select id="rep1Caisse" name="rep1Caisse" formControlName="rep1Caisse"
                class="form-control"
                >
                  <option value="-1">Toutes les caisses</option>
                  <option *ngFor="let caisse of userAssociatedCaisse; let i = index" [value]="i">
                    {{ caisse.codeCaisse }} - {{ caisse.libeCaisse }}</option>
                </select>

            </div>

            <div class="form-group col-sm-3">
              <label for="rep1FamilleArticle">Famille d'Article</label>
                <select id="rep1FamilleArticle" name="rep1FamilleArticle" class="form-control"
                  formControlName="rep1FamilleArticle">
                  <option value="-1">Toutes les Familles</option>
                  <option *ngFor="let famille of famillesArticle; let i = index" [value]="i">
                    {{ famille.codeFamille }} - {{ famille.libFamille }}</option>
                </select>

            </div>

            <div class="form-group col-sm-3">
              <label for="rep1DateDebut">Date de début</label>
              <input type="datetime-local" class="form-control" id="rep1DateDebut"
               formControlName="rep1DateDebut" placeholder="Date de Début de l'Affectation">
            </div>
            <div class="form-group col-sm-3">
              <label for="rep1DateFin">Date de Fin</label>
              <input type="datetime-local" class="form-control" id="rep1DateFin"
              formControlName="rep1DateFin" placeholder="Date de Début de l'Affectation">
            </div>

          </div>
          <button type="submit" class="btn btn-primary">Générer</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card mb-0">
    <div class="card-header" id="headingTwo" role="tab" (click)="manageCollapses(2)">
      <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a></h5>
    </div>
    <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 2,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
    </div>
  </div>
  <div class="card mb-0">
    <div class="card-header" id="headingThree" role="tab" (click)="manageCollapses(3)">
      <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a></h5>
    </div>
    <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion"
    [ngClass]="{
      collapse:true,
      show: clicked === 3,
      collapsing:false,
      animated:true,
      fadeIn:true
    }">
      <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
    </div>
  </div>
</div>



<!--Modal View PDF-->

<div bsModal #viewPdfModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title text-center">Apperçu</h4>
        <button type="button" class="close" (click)="viewPdfModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <iframe class="col" [src]="pdfToShow" frameborder="0" style="height: 400px;"></iframe>
          </div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="viewPdfModal.hide()">Fermer</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
