<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Fournisseurs
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
      [dtTrigger]="dtTrigger1" id="dataTable1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Identité</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fournisseur of fournisseurs; let i = index">
          <td>{{ fournisseur.codeFrs }}</td>
          <td>{{ fournisseur.identiteFrs }}</td>
          <td>{{ fournisseur.telFRS }}</td>
          <td>{{ fournisseur.adresseFrs }}</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditFrs(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteFrs(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosFrs(i)"><span class="fa fa-eye"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Identité</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <form [formGroup]="addFrsFormsGroup" (ngSubmit)="onSubmitAddFrsFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Fournisseur</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un Fournisseur-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouveau Fournisseur</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-2">
                            <label for="addCodeFrs">Code</label>
                            <input type="text" class="form-control" id="addCodeFrs" placeholder="Code du Fournisseur"
                            autocomplete="off" formControlName="addCodeFrs">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="addNumIfuFrs">Numéro IFU</label>
                            <input type="text" class="form-control" id="addNumIfuFrs" placeholder="Numéro IFU du Fournisseur"
                            autocomplete="off" formControlName="addNumIfuFrs">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addTelFRS">Téléphone</label>
                            <input type="tel" class="form-control" id="addTelFRS" placeholder="Téléphone du Fournisseur"
                            formControlName="addTelFRS">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addIdentiteFrs">Identité</label>
                            <input type="text" class="form-control" id="addIdentiteFrs" placeholder="Identité du Fournisseur"
                            autocomplete="off" formControlName="addIdentiteFrs">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addRaisonSociale">Raison Sociale</label>
                            <input type="text" class="form-control" id="addRaisonSociale" placeholder="Raison Sociale du Fournisseur"
                            autocomplete="off" formControlName="addRaisonSociale">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addAdresseFrs">Adresse</label>
                            <textarea id="addAdresseFrs" name="addAdresseFrs" rows="1" class="form-control" placeholder="Adresse du Fournisseur..."
                            formControlName='addAdresseFrs'></textarea>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addDescription">Autes Infos</label>
                            <textarea id="addDescription" name="addDescription" rows="1" class="form-control" placeholder="Autres informations sur le Fournisseur"
                            formControlName="addDescription"></textarea>
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addFrsFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning modal-lg" role="document">
              <form [formGroup]="editFrsFormsGroup" (ngSubmit)="onSubmitEditFrsFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Fournisseur</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un Locataire-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier Fournisseur</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-2">
                            <label for="editCodeFrs">Code</label>
                            <input type="text" class="form-control" id="editCodeFrs" placeholder="Code du Fournisseur"
                            autocomplete="off" formControlName="editCodeFrs" [ngModel]="editFrs.codeFrs">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="editNumIfuFrs">Numéro IFU</label>
                            <input type="text" class="form-control" id="editNumIfuFrs" placeholder="Numéro IFU du Fournisseur"
                            autocomplete="off" formControlName="editNumIfuFrs" [ngModel]="editFrs.numIfuFrs">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editTelFRS">Téléphone</label>
                            <input type="tel" class="form-control" id="editTelFRS" placeholder="Téléphone du Fournisseur"
                            autocomplete="off" formControlName="editTelFRS" [ngModel]="editFrs.telFRS">
                          </div>

                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="editIdentiteFrs">Identité</label>
                            <input type="text" class="form-control" id="editIdentiteFrs" placeholder="Identité du Fournisseur"
                            autocomplete="off" formControlName="editIdentiteFrs" [ngModel]="editFrs.identiteFrs">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="editRaisonSociale">Raison Sociale</label>
                            <input type="text" class="form-control" id="editRaisonSociale" placeholder="Raison Sociale du Fournisseur"
                            autocomplete="off" formControlName="editRaisonSociale" [ngModel]="editFrs.raisonSociale">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editAdresseFrs">Adresse</label>
                            <textarea id="editAdresseFrst" name="editAdresseFrs" rows="1" class="form-control" placeholder="Adresse du Fournisseur..."
                            formControlName="editAdresseFrs" [ngModel]="editFrs.adresseFrs"></textarea>
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editDescription">Autes Infos</label>
                            <textarea id="editDescription" name="editDescription" rows="1" class="form-control" placeholder="Autres informations sur le Fournisseur"
                            formControlName="editDescription" [ngModel]="editFrs.description"></textarea>
                          </div>
                        </div><!--/.row-->
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editFrsFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Fournisseur</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer le Fournisseur <mark style="color: red;">{{ suprFrs.codeFrs }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteFrs()">Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Fournisseur</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>{{ infosFrs.codeFrs }}</td>
                      </tr>
                      <tr>
                        <th>Identité</th>
                        <td>{{ infosFrs.identiteFrs }}</td>
                      </tr>
                      <tr>
                        <th>Téléphone</th>
                        <td>{{ infosFrs.telFRS }}</td>
                      </tr>
                      <tr>
                        <th>Raison Sociale</th>
                        <td>{{ infosFrs.raisonSociale }}</td>
                      </tr>
                      <tr>
                        <th>Adresse</th>
                        <td>{{ infosFrs.adresseFrs }}</td>
                      </tr>
                      <tr>
                        <th>Numéro IFU</th>
                        <td>{{ infosFrs.numIfuFrs }}</td>
                      </tr>
                      <tr>
                        <th>Autres Infos</th>
                        <td>{{ infosFrs.description }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
