<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Exercice
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
    [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Libellé</th>
          <th>Date de Début</th>
          <th>Date de Fin</th>
          <th>Etat</th>
          <th>Sélectionné</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exo of exercices; let i = index">
          <td>{{ exo.codeExercice }}</td>
          <td>{{ exo.libExercice }}</td>
          <td>{{ exo.dateDebut | date:"dd-MM-yyyy" }}</td>
          <td>{{ exo.dateFin | date:"dd-MM-yyyy" }}</td>
          <td>{{ exo.etatExo }}</td>
          <td style="text-align: center;">
            <input  type="checkbox" [name]="exo.codeExercice" [id]="exo.codeExercice"
            (click)="onSelectExoCliked(i)" [ngModel]="exercices[i].codeExercice==selectedExo.codeExercice">
          </td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal tooltip" data-placement="top" title="Modifier l'exercice" (click)="initEditExo(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal tooltip" data-placement="top" title="Supprimer l'exercice" (click)="initDeleteExo(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-success btn-sm" data-toggle="modal tooltip" data-placement="top" title="Charger l'exercice" (click)="select(exo)"><span class="fa fa-arrow-down-circle"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Clôturer l'exercice" (click)="archive(exo)"><span class="fa fa-arrow-up-circle"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal tooltip" data-placement="top" title="Lancer l'exercice" (click)="open(exo)"><span class="fa fa-arrow-rigth-circle"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Libellé</th>
          <th>Date de Début</th>
          <th>Date de Fin</th>
          <th>Etat</th>
          <th>Sélectionné</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>

    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-primary" role="document">
              <form [formGroup]="addExoFormsGroup" (ngSubmit)="onSubmitAddExoFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer un Exercice</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouveau Exercice</strong>

                      </div>
                      <!--Formulaire pour enrégistrer un exercice-->
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-3">
                            <label for="addCodeExercice">Code</label>
                            <input type="text" class="form-control" id="addCodeExercice"
                            autocomplete="off" formControlName="addCodeExercice" placeholder="Code de l'Exercice">
                          </div>
                          <div class="form-group col-sm-9">
                            <label for="addLibExercice">Libellé</label>
                            <input type="text" class="form-control" id="addLibExercice"
                            autocomplete="off" formControlName="addLibExercice" placeholder="Entrer le libellé de l'Exercice">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-6">
                            <label for="addDateDebut">Date de Début</label>
                            <input type="date" class="form-control" id="addDateDebut"
                            formControlName="addDateDebut">
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="addDateFin">Date de Fin</label>
                            <input type="date" class="form-control" id="addDateFin"
                            formControlName="addDateFin" placeholder="Date de Fin de l'Exercice">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addEtatExo">Etat de l'Exercice</label>
                              <select id="addEtatExo" name="addEtatExo" class="form-control"
                              formControlName="addEtatExo">
                                <option value="Exercice Non Cloturé">Exercice en cours</option>
                                <option value="Exercice Cloturé">Exercice cloturé</option>
                                <option value="Exercice En Attente">Exercice en attente</option>

                              </select>

                          </div>

                        </div><!--/.row-->
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addExoFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning" role="document">
              <form [formGroup]="editExoFormsGroup" (ngSubmit)="onSubmitEditExoFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Un Exercice</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un Exercice-->
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-sm-3">
                          <label for="editCodeExercice">Code</label>
                          <input type="text" class="form-control" id="editCodeExercice" readonly="true"
                          autocomplete="off" formControlName="editCodeExercice" [ngModel]="editExo.codeExercice" placeholder="Code de l'Exercice">
                        </div>
                        <div class="form-group col-sm-9">
                          <label for="editLibExercice">Libellé</label>
                          <input type="text" class="form-control" id="editLibExercice"
                          autocomplete="off" formControlName="editLibExercice" [ngModel]="editExo.libExercice" placeholder="Entrer le libellé de l'Exercice">
                        </div>
                      </div><!--/.row-->
                      <div class="row">
                        <div class="form-group col-sm-6">
                          <label for="editDateDebut">Date de Début</label>
                          <input type="date" class="form-control" id="editDateDebut"
                          formControlName="editDateDebut" [ngModel]="editExo.dateDebut">
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="editDateFin">Date de Fin</label>
                          <input type="date" class="form-control" id="editDateFin"
                          formControlName="editDateFin" [ngModel]="editExo.dateFin">
                        </div>
                      </div><!--/.row-->
                      <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="editEtatExo">Etat de l'Exercice</label>
                            <select id="editEtatExo" name="editEtatExo" class="form-control"
                            formControlName="editEtatExo" [ngModel]="editExo.etatExo">
                              <option value="Exercice Non Cloturé">Exercice Non Cloturé</option>
                              <option value="Exercice Cloturé">Exercice Cloturé</option>

                            </select>

                        </div>

                      </div><!--/.row-->

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editExoFormsGroup.invalid">Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Un Exercice</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer l'Exercice <mark style="color: red;">{{ suprExo.codeExercice }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteExo()" >Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <!--<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Exercice</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>2020</td>
                      </tr>
                      <tr>
                        <th>Libellé</th>
                        <td>Exercice 2020</td>
                      </tr>
                      <tr>
                        <th>Date de Début</th>
                        <td>01/01/2020</td>
                      </tr>
                      <tr>
                        <th>Date de Fin</th>
                        <td>31/12/2020</td>
                      </tr>
                      <tr>
                        <th>Etat de l'Exercice</th>
                        <td>Cloturé</td>
                      </tr>
                      <tr>
                        <th>Séléctionné</th>
                        <td>OUI</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div> /.modal-content -->
            <!--</div> /.modal-dialog -->
          <!-- </div>/.modal 4 -->
  </div>
</div>
