<tabset>
    <!--Onglet 1-->
    <tab>
        <ng-template tabHeading><i class="icon-calculator"></i> Institution de reversement</ng-template>
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des institutions de revesement
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="addInst.show()">
            Ajouter Institution de reversement
          </button>
                    <br><br>
                    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="tabInst" [dtTrigger]="dtrigInst" id="dtInst">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Libellé</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let institut of institutions; let i=index" value="i">
                                <td>{{institut.codeInstRevers}}</td>
                                <td>{{institut.libInstRevers}}</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initModInst(i)"><span class="fa fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDelInst(i)"><span class="fa fa-trash"></span></button>
                                    <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                                    <!--Le bouton des options-->
                                    <div class="btn-group" dropdown>
                                        <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                                            <li role="menuitem"><a class="dropdown-item">Action</a></li>
                                            <li role="menuitem"><a class="dropdown-item">Another action</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item">Something else
                        here</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Code</th>
                                <th>Libellé</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--/.col-->
        </div>
    </tab>
    <tab>
        <ng-template tabHeading><i class="icon-calculator"></i> Pourcentage de reversement</ng-template>
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des pourcentages de revesement
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="addPerce.show()">
            Ajouter pourcentage de reversement
          </button>
                    <br><br>
                    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="tabPeRev" [dtTrigger]="dtrigPeRev" id="dtPeRev">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Article</th>
                                <th>Pourcentage(%)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pourcentages; let i=index" value="i">
                                <td>{{item.instituReverse.codeInstRevers}} - {{item.instituReverse.libInstRevers}}</td>
                                <td>{{item.article.codeArticle}} - {{item.article.libArticle}}</td>
                                <td>{{item.valPourcenRevers}}</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initModPerev(i)"><span class="fa fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDelPeRev(i)"><span class="fa fa-trash"></span></button>
                                    <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                                    <!--Le bouton des options-->
                                    <div class="btn-group" dropdown>
                                        <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                                            <li role="menuitem"><a class="dropdown-item">Action</a></li>
                                            <li role="menuitem"><a class="dropdown-item">Another action</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
                                            <li class="divider dropdown-divider"></li>
                                            <li role="menuitem"><a class="dropdown-item">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Institution</th>
                                <th>Article</th>
                                <th>Pourcentage(%)</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--/.col-->
        </div>
    </tab>
</tabset>

<!-----------------------------Ajoute institution-->
<div bsModal #addInst="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <!-----Début formulaire-->
        <form [formGroup]="addInstGrou" (ngSubmit)="ajouteInst()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout d'une institution </h4>
                    <button type="button" class="close" (click)="addInst.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="col-form-label" for="addInstCod">Code</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="addInstCod" class="form-control" placeholder="de l'institution" formControlName="addInstCod">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="col-form-label" for="addInstLib">Libellé</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="addInstLib" class="form-control" placeholder="de l'institution" formControlName="addInstLib">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addInst.hide()">Abandonner</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!--fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!---------------------------Modifie institution----------------- -->
<div bsModal #modInst="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-primary" role="document">
        <!-----Début formulaire-->
        <form [formGroup]="modInstGrou" (ngSubmit)="modifieInst()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modification d'une institution</h4>
                    <button type="button" class="close" (click)="modInst.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="col-form-label" for="modInstCod">Code</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="modInstCod" class="form-control" formControlName="modInstCod" value="{{inst.codeInstRevers}}" aria-readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label class="col-form-label" for="modInstLib">Libellé</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="modInstLib" class="form-control" formControlName="modInstLib" value="{{inst.libInstRevers}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modInst.hide()">Abandonner</button>
                    <button type="submit" class="btn btn-primary">Continuer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!----Fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-----------------------------------------------Suppression d'institution-------------------------------------------->
<div bsModal #delInst="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suppression d'une institution </h4>
                <button type="button" class="close" (click)="delInst.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <!-----Nom-->
                    <p>Vous êtes sur le point de supprimer <mark style="color: red;">{{inst.libInstRevers}} </mark>des institution de reversement
                    </p>
                    <p>Le confirmez-vous ?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="delInst.hide()">Abandonner</button>
                <button type="submit" class="btn btn-primary" (click)="deleteInst()">Continuer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Les modaux de pourcentage de reversement-->
<!--------------------------------Ajout de pourcentage----------------------->
<div bsModal #addPerce="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <!-----Début formulaire-->
        <form [formGroup]="addPercGrou" (ngSubmit)="ajoutePerce()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ajout de pourcentage de reversement</h4>
                    <button type="button" class="close" (click)="addPerce.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-3"> <label class="col-form-label" for="addPerInst">institution</label> </div>
                    <div class="col-md-9">
                        <select id="addPerInst" name="addPerInst" class="form-control" formControlName="addPerInst">
                          <option *ngFor="let item of institutions; let i = index" [value]="i">
                          {{ item.codeInstRevers }} - {{ item.libInstRevers }}
                        </option>
                          </select>
                    </div><br><br>
                    <div class="col-md-3"> <label class="col-form-label" for="addPerArt">Article</label> </div>
                    <div class="col-md-9">
                        <select id="addPerArt" name="addPerArt" class="form-control" formControlName="addPerArt">
                          <option *ngFor="let item of articles; let i = index" [value]="i">
                            {{ item.codeArticle }} - {{ item.libArticle }}
                          </option>
                        </select>
                    </div><br><br>
                    <label class="form-label md-6" for="addVal">Pourcentage de reversement (%)</label>
                    <div class="col-md-6">
                        <input type="number" id="addVal" class="form-control" placeholder="100" formControlName="addVal">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addPerce.hide()">Abandonner</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!--fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div bsModal #modPerce="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <!-----Début formulaire-->
        <form [formGroup]="modPercGrou" (ngSubmit)="modifiePerce()" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modification d'un pourcentage de reversement</h4>
                    <button type="button" class="close" (click)="modPerce.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    md-3"> <label class="col-form-label" for="modPerInst">institution</label> </div>
                <div class="col-md-9">
                    <select id="modPerInst" name="modPerInst" class="form-control" formControlName="modPerInst">
                          <option *ngFor="let item of institutions; let i = index" [value]="i">
                          {{ item.codeInstRevers }} - {{ item.libInstRevers }}
                        </option>
                          </select>
                </div><br><br>
                <div class="col-md-3"> <label class="col-form-label" for="modPerArt">Article</label> </div>
                <div class="col-md-9">
                    <select id="modPerArt" name="modPerArt" class="form-control" formControlName="modPerArt">
                          <option *ngFor="let item of articles; let i = index" [value]="i">
                            {{ item.codeArticle }} - {{ item.libArticle }}
                          </option>
                        </select>
                </div><br><br>
                <label class="form-label md-6" for="modVal">Pourcentage de reversement (%)</label>
                <div class="col-md-6">
                    <input type="number" id="modVal" class="form-control" placeholder="100" formControlName="modVal" value="{{per.valPourcenRevers}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modPerce.hide()">Abandonner</button>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
        <!----Fin formulaire-->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div bsModal #delPerce="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Supprimer pourcentage</h4>
                <button type="button" class="close" (click)="delPerce.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <!-----Nom-->
                    <p>Vous êtes sur le point de supprimer <mark style="color: red;">pourcentage</mark></p>
                    <p>Le confirmez-vous ?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="delPerce.hide()">Abandonner</button>
                <button type="submit" class="btn btn-primary" (click)="deletePerce()">Continuer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
