<tabset>
<tab>
    <ng-template tabHeading><i class="icon-calculator"></i> Régisser</ng-template>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des Régisseur
      </div>
      <div class="card-body">
        <!--Les enfants s'amusent-->
        <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
          <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
          <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
        </div>
        <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
        [dtTrigger]="dtTrigger1" id="regisseurdata">
          <thead>
            <tr>
              <th>Code</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Téléphone</th>
              <th>Utilisateur</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let regisseur of regisseur; let i = index">
              <td>{{ regisseur.idRegisseur }}</td>
              <td>{{ regisseur.magasinier.nomMagasinier }}</td>
              <td>{{ regisseur.magasinier.prenomMagasinier }}</td>
              <td>{{ regisseur.magasinier.telMagasinier }}</td>
              <td>{{ regisseur.utilisateur.login }}</td>
              <td>
                <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditReg(i)"><span class="fa fa-edit"></span></button>
                <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteReg(i)"><span class="fa fa-trash"></span></button>
                <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosReg(i)"><span class="fa fa-eye"></span></button>
                <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
                <!--Le bouton des options-->
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Something else
                      here</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

          </tbody>
          <tfoot>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Utilisateur</th>
                <th>Actions</th>
            </tr>
          </tfoot>
        </table>

        <!-- Les modales-->
              <!--Modale 1-->
              <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-primary" role="document">
                  <form [formGroup]="addRegFormsGroup" (ngSubmit)="onSubmitAddRegFormsGroup()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Enrégistrer un Régisseur</h4>
                        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour enrégistrer un article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Nouveau Régisser</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="addCodeReg">Code</label>
                                <input type="text" class="form-control" id="addCodeReg" placeholder="Code"
                                  formControlName="addCodeReg">
                              </div>

                              <div class="form-group col-sm-6">
                                <label for="addNomMag">Nom</label>
                                <input type="text" class="form-control" id="addNomMag" placeholder="Nom "
                                  formControlName="addNomMag">
                              </div>
                            </div><!--/.row-->
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="addPrenomMag">Prénom</label>
                                    <input type="text" class="form-control" id="addPrenomMag" placeholder="Prénom"
                                      formControlName="addPrenomMag">
                                </div>

                                <div class="form-group col-sm-6">
                                  <label for="addTelMag">Téléphone</label>
                                  <input type="text" class="form-control" id="addTelMag" placeholder="Téléphone"
                                    formControlName="addTelMag">
                                </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="addUser">Utilisateur</label>
                                  <select id="addUser" name="addUser" class="form-control"
                                  formControlName = "addUser">
                                    <option *ngFor="let utilisateur of utilisateur; let i = index"
                                    [value]="i">{{ utilisateur.idUtilisateur }} - {{ utilisateur.login }}</option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addRegFormsGroup.invalid">Sauvégarder</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 1 -->

              <!--Modale 2-->
              <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-warning modal-lg" role="document">
                  <form [formGroup]="editRegFormsGroup" (ngSubmit)="onSubmitEditRegFormsGroup()">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Modifier Un Régisseur</h4>
                        <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- Formulaire pour modifier un article-->
                        <div class="card">
                          <div class="card-header">
                            <strong>Modifier Un Régisseur</strong>

                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-sm-6">
                                <label for="editCodeReg">Code</label>
                                <input type="text" class="form-control" id="editCodeReg" placeholder="Code du régisseur"
                                  formControlName="editCodeReg" readonly="true" [ngModel]="editReg.idRegisseur">
                              </div>
                              <div class="form-group col-sm-6">
                                <label for="editNomMag">Nom</label>
                                <input type="text" class="form-control" id="editNomMag" placeholder="Entrer le nom"
                                  formControlName="editNomMag" [ngModel]="editReg.magasinier.nomMagasinier">
                              </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="editPrenomMag">Prénom</label>
                                    <input type="text" class="form-control" id="editPrenomMag" placeholder="Entrer le prénom"
                                      formControlName="editPrenomMag" [ngModel]="editReg.magasinier.prenomMagasinier">
                                  </div>

                                  <div class="form-group col-sm-6">
                                    <label for="editTelMag">Téléphone</label>
                                    <input type="text" class="form-control" id="editTelMag" placeholder="Entrer le téléphone"
                                      formControlName="editTelMag" [ngModel]="editReg.magasinier.telMagasinier">
                                  </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-sm-12">
                                <label for="editUser">Utilisateur</label>
                                  <select id="editUser" name="editUser" class="form-control" formControlName="editUser">
                                    <option *ngFor="let utilisateur of utilisateur; let i = index"
                                    [value]="i">{{ utilisateur.idUtilisateur }} - {{ utilisateur.login }}</option>
                                  </select>
                              </div>
                            </div><!--/.row-->
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                        <button type="submit" class="btn btn-warning">Modifier</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </form>

                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 2 -->

              <!--Modale 3-->
              <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Suprimmer Un Régisseur</h4>
                      <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Vous êtes sur le point de supprimer le regisseur <mark style="color: red;">{{ suprReg.idRegisseur }}</mark></p>
                      <p>Le confirmez-vous ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                      <button type="button" class="btn btn-danger" (click)="onConfirmDeleteReg()">Supprimer</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 3 -->

              <!--Modale 4-->
              <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-info modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Détail Sur Régisseur</h4>
                      <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-striped">

                        <!--tbody>
                          <tr>
                            <th>Code</th>
                            <td>{{ infoDep.codeDepartement }}</td>
                          </tr>
                          <tr>
                            <th>Nom</th>
                            <td>{{ infoDep.nomDepartement }}</td>
                          </tr>
                          <tr>
                            <th>Pays</th>
                            <td>{{ infoDep.pays.nomPays }}</td>
                          </tr>
                        </tbody-->
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal 4 -->
      </div>
    </div>
  </tab>
</tabset>