<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Liste des Caisses
  </div>
  <div class="card-body">
    <!--Les enfants s'amusent-->
    <div class="row" style="margin: 1%; margin-left: 0; margin-right: 0;">
      <div class="col align-self-start" style="padding: 0%;"><button class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show()">Nouveau <span class="fa fa-plus-circle"></span></button></div>
      <div class="col-3 align-self-end"  style="padding: 0%; margin: 0%;" ></div>
    </div>
    <table class="table table-bordered table-striped table-sm" datatable [dtOptions]="dtOptions1"
    [dtTrigger]="dtTrigger1">
      <thead>
        <tr>
          <th>Code</th>
          <th>Libellé</th>
          <th>Arrondissement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caisse of caisses; let i = index">
          <td>{{ caisse.codeCaisse }}</td>
          <td>{{ caisse.libeCaisse }}</td>
          <td>{{ caisse.arrondissement.nomArrondi }}</td>
          <td>
            <button class="btn btn-warning btn-sm" data-toggle="modal" (click)="initEditCaisse(i)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" (click)="initDeleteCaisse(i)"><span class="fa fa-trash"></span></button>
            <button class="btn btn-info btn-sm" data-toggle="modal" (click)="initInfosCaisse(i)"><span class="fa fa-eye"></span></button>
            <button class="btn btn-dark btn-sm"><span class="fa fa-file-o"></span></button>
            <!--Le bouton des options-->
            <div class="btn-group" dropdown>
              <button type="button" dropdownToggle class="btn btn-secondary btn-sm"><span class="icon-options"></span></button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" >Action</a></li>
                <li role="menuitem"><a class="dropdown-item" >Another action</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" >Something else
                  here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" >Separated link</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Code</th>
          <th>Libellé</th>
          <th>Arrondissement</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>

    <!-- Les modales-->
          <!--Modale 1-->
          <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-primary" role="document">
              <form [formGroup] = "addCaissFormsGroup" (ngSubmit)="onSubmitAddCaisseFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Enrégistrer une Caisse</h4>
                    <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour enrégistrer un article-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Nouvelle Caisse</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addCodeCaisse">Code</label>
                            <input type="text" class="form-control" id="addCodeCaisse"
                            formControlName="addCodeCaisse" placeholder="Code de la Caisse">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addLibeCaisse">Libellé</label>
                            <input type="text" class="form-control" id="addLibeCaisse"
                            formControlName="addLibeCaisse" placeholder="Libellé de la Caisse">
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="addArrondissement">Arrondissement</label>
                              <select id="addArrondissement" name="addArrondissement" class="form-control"
                              formControlName="addArrondissement">
                                <option *ngFor="let arrondi of arrondissements; let i = index" [value]="i">
                                  {{ arrondi.codeArrondi }} - {{ arrondi.nomArrondi }}
                                </option>
                              </select>
                          </div>
                        </div><!--/.row-->

                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="addCaissFormsGroup.invalid">Enrégistrer</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 1 -->

          <!--Modale 2-->
          <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-warning" role="document">
              <form [formGroup]="editCaissFormsGroup" (ngSubmit)="onSubmitEditCaisseFormsGroup()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modifier Une Caisse</h4>
                    <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Formulaire pour modifier un article-->
                    <div class="card">
                      <div class="card-header">
                        <strong>Modifier Une Caisse</strong>

                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editCodeCaisse">Code</label>
                            <input type="text" class="form-control" id="editCodeCaisse"
                            formControlName="editCodeCaisse" readonly="true" [ngModel]="editCaiss.codeCaisse" placeholder="Code de la Caisse">
                          </div>
                        </div><!--/.row-->
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editLibeCaisse">Libellé</label>
                            <input type="text" class="form-control" id="editLibeCaisse"
                            formControlName="editLibeCaisse" [ngModel]="editCaiss.libeCaisse" placeholder="Libellé de la Caisse">
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-12">
                            <label for="editArrondissement">Arrondissement</label>
                              <select id="editArrondissement" name="editArrondissement" class="form-control"
                              formControlName="editArrondissement">
                                <option *ngFor="let arrondi of arrondissements; let i = index" [value]="i">
                                  {{ arrondi.codeArrondi }} - {{ arrondi.nomArrondi }}
                                </option>
                              </select>
                          </div>
                        </div><!--/.row-->

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Annuler</button>
                    <button type="submit" class="btn btn-warning" [disabled]="editCaissFormsGroup.invalid" >Modifier</button>
                  </div>
                </div><!-- /.modal-content -->
              </form>

            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 2 -->

          <!--Modale 3-->
          <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-danger" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Suprimmer Une Caisse</h4>
                  <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer la Caisse <mark style="color: red;">{{ suprCaiss.codeCaisse }}</mark></p>
                  <p>Le confirmez-vous ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Annuler</button>
                  <button type="button" class="btn btn-danger" (click)="onConfirmDeleteCaisse()" >Supprimer</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 3 -->

          <!--Modale 4-->
          <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-info modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Détail Sur Caisse</h4>
                  <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table table-striped">

                    <tbody>
                      <tr>
                        <th>Code</th>
                        <td>{{ infoCaiss.codeCaisse }}</td>
                      </tr>
                      <tr>
                        <th>Libellé</th>
                        <td>{{ infoCaiss.libeCaisse }}</td>
                      </tr>
                      <tr>
                        <th>Code Arrondissement</th>
                        <td>{{ infoCaiss.arrondissement.codeArrondi }}</td>
                      </tr>
                      <tr>
                        <th>Libellé de l'Arrondissement / Site</th>
                        <td>{{ infoCaiss.arrondissement.nomArrondi }}</td>
                      </tr>
                      <tr>
                        <th>Commune</th>
                        <td>{{ infoCaiss.arrondissement.commune.nomCommune }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Fermer</button>

                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal 4 -->
  </div>
</div>
